.list-group-item{
	margin-bottom: 5px;
	border-radius: 50px !important;
}
.pointer{
	cursor:pointer

}
.selected{
	    border: 1px #337ab7 solid !important;
    background-color: #438eb9;
	/*rgb(27, 127, 214);*/
    color: #fff;	
}