select{
border-radius: 5px;	
}

.pointer{
	cursor:pointer

}
.pointer:hover{
	/*background-color: #eee;	*/
	/*color: #000;*/
}
.selected{
	    border: 1px #337ab7 solid !important;
    background-color: #438eb9;
	/*rgb(27, 127, 214);*/
    color: #fff;	
}
.list-group-item{
	margin-bottom: 5px;
	border-radius: 50px !important;
}
.hgroup { 
	text-align:center;
	margin-top: 4em;
}
.center{
	text-align:center;
	 display:block;
	  margin:0 auto;
}

h1, h3 { font-weight: 300; }

h1 { color: #636363; }

h3 { color: #4a89dc; }

form {
	/*margin: 4em auto;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;*/
	/*box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;*/
}


.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  transition: all 0.15s ease;
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
  background: #4a89dc;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover { background: #357bd8; }
.buttonRed {
  background: red;
  text-shadow: 1px 1px 0 rgba(255, 0, 0, .5);
}


