<div class="row">
    <div class="col-xs-12">

        <div class="page-header">
            <h1>
                ربات‌ها
                <small>
            <i class="ace-icon fa fa-angle-double-left"></i>
            </small>
            </h1>
        </div>

        <div class="error" *ngIf="error">{{error}}</div>
        <div class="pull-right">
            <a class="btn btn-success" routerLink="/addtelegrambots" routerLinkActive="active">
                <i class="menu-icon fa fa-caret-left"></i> اضافه کردن ربات
            </a>
        </div>
    </div>



    <div class="col-xs-12">


        <!--table-bordered-->

        <div class="table-responsive">

            <table class="table table-bordered  table-hover black ">
                <thead class="thead-inverse">
                    <tr>
                        <th>#</th>
                        <th>نام</th>
                        <th>یوزرنیم</th>
                        <th>توکن</th>
                        <th>وضعیت</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bot of telegramBots;let i = index">
                        <th scope="row">1</th>
                        <td>
                            <a routerLink="/telegrambots/{{bot._id}}" routerLinkActive="active">{{bot.title}}
                    </a>
                        </td>
                        <td>{{bot.username}}</td>
                        <td>{{bot.token}}</td>
                        <td>
                            فعال
                            <!--<span class="label label-sm label-success">فعال</span>-->
                        </td>

                        <td>
                            <button class="btn btn-success btn-xs" (click)="startTask(i)">start</button>
                            <button class="btn btn-danger btn-xs" (click)="stopTask(i)">stop/delete task</button>
                            <button class="btn btn-primary btn-xs" (click)="gotTotUsers(i)">ارسال/کاربران</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<simple-notifications [options]="options">

</simple-notifications>