<div class="row">
    <div class="col-md-12 ">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h5 class="ng-binding"><i class="fa fa-folder-open fa"></i>ارسال به کاربران</h5>
                    </div>
                    <div class="panel-body form-horizontal" style="min-height: 150px">

<span [attr.data-selected]="false" (click)="resethightlightStatus(i);opSelect(i)" [class.selected]="hightlightStatus[i]"
    class="list-group-item pointer" *ngFor="let item of SendList, let i = index">{{item.title}}
    </span>
<br/>
<br/>
<br/>
<div *ngIf="isOpSelected">

    <div class="form-group">
        <label class="control-label col-md-2" for="title">ارسال به:</label>
        <div class="col-md-5">
            <select name="SendType" [(ngModel)]="SendType" class="form-control" id="sel1">
        <option *ngFor="let item of SendTypes" value="{{item.id}}"  >{{item.title}}</option>
      </select>
        </div>
    </div>

    <div *ngIf="SendType==1" class="form-group">
        <label class="control-label col-md-2" for="title">شناسه کاربر:</label>
        <div class="col-md-5">
            <input class="form-control" ngControl="TelegramUserId" id="TelegramUserId" [(ngModel)]="TelegramUserId" type="text" name="TelegramUserId"
            />
        </div>
    </div>
    <br>
    <br>



    <div class="form-group">
        <label class="control-label col-md-2" for="title">نوع عملیات:</label>
        <div class="col-md-5">
            <select name="opModel.selectedoperationType" (change)="onChange($event.target.value)" [(ngModel)]="opModel.selectedoperationType"
                class="form-control" id="sel1">
        <option *ngFor="let item of operationTypes" value="{{item.id}}"  >{{item.title}}</option>
      </select>
        </div>
    </div>


    <br>
    <br>

    <div *ngIf="opModel.selectedoperationType==1">
        <div class="form-group">
            <label class="control-label col-md-2" for="title"> متن :</label>
            <div class="col-md-5">
                <textarea class="form-control" ngControl="optitle00" id="optitle00" required #optitle00="ngModel" minlength="1" name="optitle"
                    [(ngModel)]="opModel.content.text">
</textarea>
            </div>
        </div>

    </div>


    <div *ngIf="opModel.selectedoperationType==2" class="form-group">
        <label class="control-label col-md-2" for="title">Id منو:</label>
        <div class="col-md-5">
            <input class="form-control" ngControl="opRedirect" id="opRedirect" [(ngModel)]="opModel.content.redirect" #opRedirect="ngModel"
                type="text" name="opRedirect" />
        </div>
    </div>
    <div *ngIf="opModel.selectedoperationType==3">
        <!--<p-growl [value]="msgs"></p-growl>-->
        <div class="col-md-10">
            <p-fileUpload name="demo[]" url="http://localhost:3000/api/bot/file/{{botId}}" (onBeforeSend)="onBeforeUpSend($event)" (onError)="onUpError($event)"
                (onUpload)="onUpload($event)" multiple="multiple" accept="image/*" maxFileSize="20000000">
                <template pTemplate type="content">
                    <div class="table-responsive">


                        <table class="table" *ngIf="this.opModel.content.files && this.opModel.content.files.length">
                            <tr>
                                <th>نام</th>
                                <th>سایز</th>
                                <th>نوع</th>
                                <th>عملیات</th>
                            </tr>
                            <tr *ngFor="let file of this.opModel.content.files, let fileIndex = index">
                                <td><a target="_blank" href="public\\uploads\\{{botId}}\\{{file.filename}}">{{file.originalname}}</a></td>
                                <td>{{file.size/ 1024 / 1024| number : '1.2-2'}} MB</td>
                                <td>{{file.type}}</td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-xs" (click)="deleteFile(fileIndex)">
                <i class="fa fa-trash-o fontavesome-small" ></i> حذف  </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--<ul *ngIf="this.opModel.content.files && this.opModel.content.files.length">
        <li *ngFor="let file of this.opModel.content.files">{{file.originalname}} - {{file.size}} bytes</li>
      </ul>-->
                </template>
            </p-fileUpload>
        </div>
        <br>
        <br>
    </div>

    <div *ngIf="opModel.selectedoperationType==4">
        <div class="form-group">
            <label class="control-label col-md-2" for="title"> latitude:</label>
            <div class="col-md-5">
                <input class="form-control" placeholder="عرض جغرافیایی" ngControl="latitude" id="latitude" [(ngModel)]="opModel.content.latitude"
                    #latitude="ngModel" type="text" name="latitude" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="title"> Longitude:</label>
            <div class="col-md-5">
                <input class="form-control" placeholder="طول جغرافیایی" ngControl="Longitude" id="Longitude" [(ngModel)]="opModel.content.Longitude"
                    #Longitude="ngModel" type="text" name="Longitude" />
            </div>
        </div>
    </div>

    <div *ngIf="opModel.selectedoperationType==5">
        <div class="form-group">
            <label class="control-label col-md-2" for="title"> شماره تلفن :</label>
            <div class="col-md-5">
                <input class="form-control" placeholder="phone Number" ngControl="contactPhoneNumber" id="contactPhoneNumber" [(ngModel)]="opModel.content.contactPhoneNumber"
                    #contactPhoneNumber="ngModel" type="text" name="contactPhoneNumber" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="title"> نام:</label>
            <div class="col-md-5">
                <input class="form-control" placeholder="First Name" ngControl="contactFirstName" id="contactFirstName" [(ngModel)]="opModel.content.contactFirstName"
                    #contactFirstName="ngModel" type="text" name="contactFirstName" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="title"> نام خانوادگی:</label>
            <div class="col-md-5">
                <input class="form-control" placeholder="Last Name" ngControl="contactLastName" id="contactLastName" [(ngModel)]="opModel.content.contactLastName"
                    #contactLastName="ngModel" type="text" name="contactLastName" />
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="col-md-8 col-md-push-1">
    <button type="button" class="btn btn-danger" (click)="deleteOperation()"><i class="fa fa-remove fontavesome-small"></i>  حذف عملیات  </button>
    <button type="button" class="btn btn-warning" (click)="editOperation()"><i class="fa fa-edit fontavesome-small"></i>  ویرایش عملیات  </button>
    <button type="button" class="btn btn-primary" (click)="addOperation($event)"><i class="fa fa-plus-square fontavesome-small" ></i> اضافه  </button>
</div>
<div class="col-md-3 col-md-push-2">
    <button type="button" class="btn btn-primary" (click)="send()"><i class="fa fa-paper-plane fontavesome-small" ></i> ارسال  </button>
</div>
</div>
</div>
</div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5 class="ng-binding"><i class="fa fa-folder-open fa"></i>ارسال به کاربران</h5>
            </div>
            <div class="panel-body" style="min-height: 150px">

<table>
    <thead>
        <th>

        </th>
        <th>

        </th>
        <th>

        </th>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>
</div>
</div>
</div>


</div>
</div>

<simple-notifications [options]="options">

</simple-notifications>