<div class="row">

  <div class="col-md-12 ">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h5 class="ng-binding"><i class="fa fa-folder-open fa"></i>&nbsp;&nbsp; منوها</h5>
          </div>
          <div class="panel-body" style="min-height: 150px">

<!--<p-tree [value]="files" layout="horizontal" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)"></p-tree>-->
<p-tree [value]="nodes" layout="horizontal" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)"></p-tree>
</div>
</div>
</div>
</div>
<div class="row">


  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h5 class="ng-binding"><i class="fa fa-folder-open fa"></i>&nbsp;&nbsp; عملیات‌ها</h5>
      </div>
      <div class="panel-body">
        <button type="button" class="btn btn-default" (click)="cleanForm($event)"><i class="fa fa-eraser fontavesome-small" ></i>  پاک کردن فرم  </button>
        <!--<button type="button" class="btn btn-primary" (click)="staticModal.show()"><i class="fa fa-plus-square fontavesome-small" ></i> اضافه به عنوان زیر منو  </button>-->
        <!--<button type="button" class="btn btn-primary" (click)="staticModal.show()">Static modal</button>-->

        <button class="btn btn-primary" (click)="add()"><i class="fa fa-plus-square fontavesome-small" ></i> اضافه به عنوان زیر منو  </button>
        <button class="btn btn-warning" (click)="edit()"><i class="fa fa-edit fontavesome-small"></i> ویرایش  </button>
        <button class="btn btn-danger" (click)="delete()"><i class="fa fa-remove fontavesome-small"></i> حذف  </button>
        <br>
        <br>
        <br>
        <form #f="ngForm" class="form-horizontal" (ngSubmit)="onSubmit($event)">
          <div class="row">
            <div class="col-md-12 ">
              <div class="form-group">
                <label class="control-label col-sm-1" for="title">کد منو:</label>
                <div class="col-sm-5">
                  <input disabled  value="{{selectedId}}" class="form-control" type="text" name="___id" />
</div>
</div>
<div class="form-group">
  <label class="control-label col-sm-1" for="title">عنوان منو:</label>
  <div class="col-sm-5">
    <input style="padding-right: 35px;" class="form-control emojiable-option" ngControl="title" id="title" #title="ngModel" type="text" name="title" [(ngModel)]="model.title"/>
</div>
</div>

<div class="form-group">
  <label class="control-label col-sm-1" for="column"> ستون:</label>
  <div class="col-sm-5">
    <input  value="3" class="form-control" ngControl="column" id="column" #column="ngModel" type="number" name="column"
[(ngModel)]="model.column"/>
</div>
</div>


<div class="form-group">
  <label class="control-label col-sm-1" for="title">والد:</label>
  <div class="col-sm-5">
    <input class="form-control" name="parent" ngControl="parent" id="parent" #parent="ngModel" type="text" [(ngModel)]="model.parent"
    />
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-1 col-sm-10">
    <div class="checkbox">
      <label>
               <input  name="enabled" ngControl="enabled" id="enabled" #parent="ngModel" type="checkbox" [(ngModel)]="model.enabled" />
 فعال
        </label>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div *ngIf="anySelected" class="col-md-12 ">
    <strong>عملیات‌ها:</strong>
    <button type="button" class="btn btn-primary btn-xs" (click)="addBack()"><i class="fa fa-plus-square fontavesome-small" ></i> عملیات برگشت  </button>
    <button type="button" class="btn btn-primary btn-xs" (click)="addBackMenu()"><i class="fa fa-plus-square fontavesome-small" ></i> عملیات برگشت به منو  </button>
  </div>
</div>
<br>
<div class="row">

  <div *ngIf="anySelected" class="col-md-8 col-md-push-2">
    <div class="panel panel-success">
      <div class="panel-heading">
        لیست عملیات‌ها

        <!--<button type="button" class="btn btn-primary btn-xs" (click)="addOperation($event)"><i class="fa fa-plus-square fontavesome-small" ></i> اضافه + خالی کردن لیست  </button>-->

      </div>
      <div class="panel-body">

        <span [attr.data-selected]="false" (click)="resethightlightStatus(i);opSelect(i)" [class.selected]="hightlightStatus[i]"
          class="list-group-item pointer" *ngFor="let item of listOne, let i = index">{{item.title}}</span>
        <br/><br/>
        <br/>


        <div class="form-group">
          <label class="control-label col-sm-2" for="title">عنوان عملیات:</label>
          <div class="col-sm-5">
            <input data-emojiable="true" class="form-control" ngControl="optitle" id="optitle" #optitle="ngModel" type="text" name="optitle"
              [(ngModel)]="opModel.title" />
          </div>
        </div>


        <div class="form-group">
          <label class="control-label col-sm-2" for="title">نوع عملیات:</label>
          <div class="col-sm-5">
            <select name="opModel.selectedoperationType" (change)="onChange($event.target.value)" [(ngModel)]="opModel.selectedoperationType"
              class="form-control" id="sel1">
        <option *ngFor="let item of operationTypes" value="{{item.id}}"  >{{item.title}}</option>
      </select>
          </div>
        </div>
        <br>
        <br>
        <div *ngIf="opModel.selectedoperationType==1" class="group">
          <label for="sel1">متن :</label>

          <textarea style="height: 200px;" class="form-control" ngControl="optitle00" id="optitle00" #optitle00="ngModel" name="optitle" [(ngModel)]="opModel.content.text">
</textarea>
</div>
<div *ngIf="opModel.selectedoperationType==2" class="form-group">
  <label class="control-label col-sm-2" for="title">Id منو:</label>
  <div class="col-sm-5">
    <input class="form-control" ngControl="opRedirect" id="opRedirect" [(ngModel)]="opModel.content.redirect" #opRedirect="ngModel"
      type="text" name="opRedirect" />
  </div>
</div>
<div *ngIf="opModel.selectedoperationType==3">
  <!--<p-growl [value]="msgs"></p-growl>-->

  <p-fileUpload name="demo[]" url="http://localhost:3000/api/bot/file/{{botId}}" (onBeforeSend)="onBeforeUpSend($event)" (onError)="onUpError($event)"
    (onUpload)="onUpload($event)" multiple="multiple" accept="image/*" maxFileSize="20000000">
    <template pTemplate type="content">
      <div class="table-responsive">


        <table class="table" *ngIf="this.opModel.content.files && this.opModel.content.files.length">
          <tr>
            <th>نام</th>
            <th>سایز</th>
            <th>نوع</th>
            <th>عملیات</th>
          </tr>
          <tr *ngFor="let file of this.opModel.content.files, let fileIndex = index">
            <td><a target="_blank" href="public\\uploads\\{{botId}}\\{{file.filename}}">{{file.originalname}}</a></td>
            <td>{{file.size/ 1024 / 1024| number : '1.2-2'}} MB</td>
            <td>{{file.type}}</td>
            <td>
              <button type="button" class="btn btn-danger btn-xs" (click)="deleteFile(fileIndex)">
                <i class="fa fa-trash-o fontavesome-small" ></i> حذف  </button>
            </td>
          </tr>
        </table>
      </div>
      <!--<ul *ngIf="this.opModel.content.files && this.opModel.content.files.length">
        <li *ngFor="let file of this.opModel.content.files">{{file.originalname}} - {{file.size}} bytes</li>
      </ul>-->
    </template>
  </p-fileUpload>
</div>

<div *ngIf="opModel.selectedoperationType==4">
  <div class="form-group">
    <label class="control-label col-sm-2" for="title"> latitude:</label>
    <div class="col-sm-5">
      <input class="form-control" placeholder="عرض جغرافیایی" ngControl="latitude" id="latitude" [(ngModel)]="opModel.content.latitude"
        #latitude="ngModel" type="text" name="latitude" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="title"> Longitude:</label>
    <div class="col-sm-5">
      <input class="form-control" placeholder="طول جغرافیایی" ngControl="Longitude" id="Longitude" [(ngModel)]="opModel.content.Longitude"
        #Longitude="ngModel" type="text" name="Longitude" />
    </div>
  </div>
</div>

<div *ngIf="opModel.selectedoperationType==5">
  <div class="form-group">
    <label class="control-label col-sm-2" for="title"> شماره تلفن :</label>
    <div class="col-sm-5">
      <input class="form-control" placeholder="phone Number" ngControl="contactPhoneNumber" id="contactPhoneNumber" [(ngModel)]="opModel.content.contactPhoneNumber"
        #contactPhoneNumber="ngModel" type="text" name="contactPhoneNumber" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="title"> نام:</label>
    <div class="col-sm-5">
      <input class="form-control" placeholder="First Name" ngControl="contactFirstName" id="contactFirstName" [(ngModel)]="opModel.content.contactFirstName"
        #contactFirstName="ngModel" type="text" name="contactFirstName" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="title"> نام خانوادگی:</label>
    <div class="col-sm-5">
      <input class="form-control" placeholder="Last Name" ngControl="contactLastName" id="contactLastName" [(ngModel)]="opModel.content.contactLastName"
        #contactLastName="ngModel" type="text" name="contactLastName" />
    </div>
  </div>
</div>

<br>
<div class="col-md-12 col-md-push-1">
  <button type="button" class="btn btn-danger" (click)="deleteOperation()"><i class="fa fa-remove fontavesome-small"></i>  حذف عملیات  </button>
  <button type="button" class="btn btn-warning" (click)="editOperation()"><i class="fa fa-edit fontavesome-small"></i>  ویرایش عملیات  </button>
  <button type="button" class="btn btn-primary" (click)="addOperation($event)"><i class="fa fa-plus-square fontavesome-small" ></i> عملیات جدید  </button>
</div>
</div>
</div>
</div>
</div>




<button type="submit" [disabled]="loading && !f.valid" class="button buttonBlue">ذخیره تغییرات
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
<img class="center" *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
/>
<div class="center" *ngIf="error" class="alert alert-danger">{{error}}</div>

<button type="button" [disabled]="loading" (click)="goBack()" class="button buttonBlue">برگشت
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</div>
</div>

</form>

</div>
</div>

</div>
</div>
</div>
</div>
<simple-notifications [options]="options">

</simple-notifications>




<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">عملیات‌ جدید</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
<span style="font-size: 20px" aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
  This is static modal, backdrop click will not close it. Click <b>&times;</b> to close modal.
</div>
</div>
</div>
</div>