<div class="row">
    <div class="col-md-12">
        <!--<div class="row">
        <div class="">
            <a class="navbar-brand" href="/">{{ title }}</a>
        </div>
    </div>-->
        <div class="row">
            <br>
            <!--*ngFor="let hero of heroes" (click)="gotoDetail(hero)"-->
            <div class="col-lg-3 col-sm-6 module" style="height: 164px;">
<!-- Widget Linearea products-->
<div class="widget widget-shadow bg-grey-50">
    <!--<a href="/#">-->
    <div class="widget-content">
        <div class="padding-20 padding-top-10">
            <div class="clearfix">
                <div class="green-500 pull-right padding-widget"><i class="fa fa-server fa-lg" aria-hidden="true"></i>
                    <span class="font-size-18">ها</span></div>
                <span class="pull-left green-500 font-size-30 number-widget">2</span></div>
            <div class="grey-500 font-size-12 padding-right-5 widget-title">
                <p><span class="widget-title-name">سرویس فعال :</span><span class="widget-title-desc">2</span></p>
                <p><span class="widget-title-name">سرویس پایان یافته :</span><span class="widget-title-desc">0</span></p>
            </div>
        </div>
    </div>
    <!--</a>-->
</div>
<!-- End Widget Linearea products -->
</div>
<div class="col-lg-3 col-sm-6" style="height: 164px;">
<!-- Widget Linearea products-->
<div class="widget widget-shadow bg-grey-50">
    <a href="/#">
        <div class="widget-content">
            <div class="padding-20 padding-top-10">
                <div class="clearfix">
                    <div class="orange-500 pull-right padding-widget">
                        <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
                        <span class="font-size-18">پیج&zwnj;ها</span></div>
                    <span class="pull-left orange-500 font-size-30 number-widget">2</span></div>
                <div class="grey-500 font-size-12 padding-right-5 widget-title">
                    <p><span class="widget-title-name">سرویس فعال :</span><span class="widget-title-desc">2</span></p>
                    <p><span class="widget-title-name">سرویس پایان یافته :</span><span class="widget-title-desc">0</span></p>
                </div>
            </div>
        </div>
    </a>
</div>
<!-- End Widget Linearea products -->
</div>
<div class="col-lg-3 col-sm-6" style="height: 164px;">
<!-- Widget Linearea products-->
<div class="widget widget-shadow bg-grey-50">
    <a href="/#">
        <div class="widget-content">
            <div class="padding-20 padding-top-10">
                <div class="clearfix">
                    <div class="blue-500 pull-right padding-widget">
                        <i class="fa fa-question-circle fa-lg" aria-hidden="true"></i>
                        <span class="font-size-18">تیکت&zwnj;ها</span></div>
                    <span class="pull-left blue-500 font-size-30 number-widget">2</span></div>
                <div class="grey-500 font-size-12 padding-right-5 widget-title">
                    <p><span class="widget-title-name">سرویس فعال :</span><span class="widget-title-desc">2</span></p>
                    <p><span class="widget-title-name">سرویس پایان یافته :</span><span class="widget-title-desc">0</span></p>
                </div>
            </div>
        </div>
    </a>
</div>
<!-- End Widget Linearea products -->
</div>
<div class="col-lg-3 col-sm-6" style="height: 164px;">
<!-- Widget Linearea products-->
<div class="widget widget-shadow bg-grey-50">
    <a href="/#">
        <div class="widget-content">
            <div class="padding-20 padding-top-10">
                <div class="clearfix">
                    <div class="red-500 pull-right padding-widget">
                        <i class="ace-icon fa fa-bell  fa-lg"></i>
                        <span class="font-size-18">پیام&zwnj;ها</span></div>
                    <span class="pull-left red-500 font-size-30 number-widget">2</span></div>
                <div class="grey-500 font-size-12 padding-right-5 widget-title">
                    <p><span class="widget-title-name">سرویس فعال :</span><span class="widget-title-desc">2</span></p>
                    <p><span class="widget-title-name">سرویس پایان یافته :</span><span class="widget-title-desc">0</span></p>
                </div>
            </div>
        </div>
    </a>
</div>
<!-- End Widget Linearea products -->
</div>
</div>

<div class="row">
    <div class="col-md-5 col-xs-12">
        <div class="panel panel-default" style="height: 256px;">
<div class="panel-heading black">
    <i class="fa fa-bullhorn fa-lg" aria-hidden="true"></i> اخبار و اطلاعیه ها
</div>
<div class="p-body">
    <ul class="list-unstyled  ">
        <li>
            <div class="">
                <i class="ace-icon fa fa-caret-left green"></i>
                <a href="#"> پست زمانبندی شده در تلگرام</a> &nbsp
                <span class="label label-danger arrowed-right">جدید!</span>
            </div>
        </li>

        <li>
            <div class="">
                <i class="ace-icon fa fa-caret-left green"></i>
                <a href="#">پست اتوماتیک از اینستاگرام به تلگرام</a> &nbsp
                <span class="label label-danger arrowed-right">جدید</span>
            </div>
        </li>
        <!--
                                                <li class="divider"></li>
                                                <li class="divider"></li>-->
        <li>
            <div class="">
                <i class="ace-icon fa fa-caret-left green"></i>
                <a href="#">پست اتوماتیک از اینستاگرام به پست اتوماتیک به اینستا گرام</a>
            </div>
        </li>

        <li>
            <div class="no-border-bottom"> <i class="ace-icon fa fa-caret-left green"></i>
                <a href="#">ارسال دکمه شیشه‌ای در تلگرام</a>
            </div>
        </li>
    </ul>
</div>
<div class="panel-footer">

    <a href="#" class="black"> <i class="fa fa-plus fa-lg" aria-hidden="true"></i> نمایش همه
    </a>

</div>
</div>
</div>
<div class="col-md-7 col-xs-12">
    <!--style="height: 256px;"-->
    <div class="panel panel-default ">
        <div class="panel-heading black">
            <i class="fa fa-globe fa-lg" aria-hidden="true"></i> شبکه های اجتماعی
        </div>
        <div class="p-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="tabbable">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active">
                                <a data-toggle="tab" href="#instagram" aria-expanded="false">
                                    <i class="red ace-icon fa fa-instagram bigger-120"></i> اینستاگرام
                                </a>
                            </li>

                            <li class="">
                                <a data-toggle="tab" href="#messages" aria-expanded="false">
                                    <i class="blue ace-icon fa fa-telegram bigger-120"></i> تلگرام
                                    <!--<span class="badgeس badge-danger">4</span>-->
                                </a>
                            </li>

                            <li class="">
                                <a data-toggle="tab" href="#messages" aria-expanded="false">
                                    <i class="blue ace-icon fa fa-twitter bigger-120"></i> تویتر
                                    <!--<span class="badgeس badge-danger">4</span>-->
                                </a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#messages" aria-expanded="false">
                                    <i class="blue ace-icon fa fa-facebook-official bigger-120"></i> فیسبوک
                                    <!--<span class="badgeس badge-danger">4</span>-->
                                </a>
                            </li>
                            <li class="dropdown ">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
														دیگر &nbsp;
														<i class="ace-icon fa fa-caret-down bigger-110 width-auto"></i>
													</a>

                                <ul class="dropdown-menu dropdown-info">
                                    <li class="active">
                                        <a data-toggle="tab" href="#dropdown1" aria-expanded="true">@fat</a>
                                    </li>

                                    <li class="">
                                        <a data-toggle="tab" href="#dropdown2" aria-expanded="false">@mdo</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <div class="tab-content" style="min-height: 138px;">
<div id="instagram" class="tab-pane fade">
    <p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
</div>

<div id="messages" class="tab-pane fade">
    <ul class="list-unstyled ">
        <li>
            <div class="">
                <i class="ace-icon fa fa-caret-left green"></i>
                <a href="#"> پست زمانبندی شده در تلگرام</a>
                <span class="label label-success arrowed-right">جدید!</span>
            </div>
        </li>

        <li>
            <div class="">
                <i class="ace-icon fa fa-caret-left green"></i>
                <a href="#">پست اتوماتیک از اینستاگرام به تلگرام</a>
                <span class="label label-success arrowed-right">جدید</span>
            </div>
        </li>
        <!--
                                                <li class="divider"></li>
                                                <li class="divider"></li>-->


    </ul>
</div>

<div id="dropdown1" class="tab-pane fade active in">
    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi
        farm-to-table readymade.</p>
</div>

<div id="dropdown2" class="tab-pane fade">
    <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free
        squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo
        park Austin.</p>
</div>
</div>
</div>
</div>
</div>

</div>
<div class="panel-footer">

    <a href="#" class="black"> <i class="fa fa-plus fa-lg" aria-hidden="true"></i> نمایش همه
    </a>

</div>
</div>
</div>
</div>
<div class="clearfix"> </div>

</div>
</div>