.widget {
    position: relative;
    margin-bottom: 30px;
    background-color: #fff;
}

.widget .cover {
    width: 100%
}

[class*=blocks-]>li>.widget {
    margin-bottom: 0
}

.widget-shadow {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
}

.widget {
    border-radius: 3px;
}

.widget .widget-header {
    border-radius: 3px 3px 0 0
}

.widget .widget-header:last-child {
    border-radius: inherit
}

.widget .widget-body:last-child {
    border-radius: 0 0 3px 3px
}

.widget .widget-body:last-child .widget-body-footer {
    border-radius: 0 0 3px 3px
}

.widget .widget-footer {
    border-radius: 0 0 3px 3px
}

.widget .widget-footer:first-child {
    border-radiu: inherit
}

.widget-body {
    position: relative;
    padding: 30px 25px
}

.widget-body-footer {
    margin-top: 30px
}

.widget-body-footer:after,
.widget-body-footer:before {
    display: table;
    content: " "
}

.widget-body-footer:after {
    clear: both
}

.widget-content ul {
    padding: 0;
    margin: 0
}

.widget-content li {
    list-style: none
}

.widget-title {
    margin-top: 0;
    color: #424242;
    text-transform: capitalize
}

div.widget-title {
    font-size: 22px
}

.overlay-panel .widget-title {
    color: #fff
}

.widget>.widget-title {
    padding: 12px 20px
}

.widget-metas {
    font-size: 12px;
    color: #9e9e9e
}

.widget-metas.type-link>a {
    position: relative;
    display: inline-block;
    padding: 3px 5px;
    color: #9e9e9e
}

.widget-metas.type-link>a:first-child {
    padding-left: 0
}

.widget-metas.type-link>a:hover {
    color: #bdbdbd
}

.widget-metas.type-link>a+a:before {
    position: absolute;
    top: 10px;
    left: -2px;
    width: 3px;
    height: 3px;
    content: '';
    background-color: #9e9e9e;
    border-radius: 50%
}

.overlay-background .widget-time {
    color: #fff;
    opacity: .8
}

.widget-category {
    font-size: 16px
}

.widget-actions {
    margin-top: 10px;
    text-align: right
}

.widget-actions a {
    display: inline-block;
    margin-right: 10px;
    color: #9e9e9e;
    vertical-align: middle
}

.widget-actions a .icon,
.widget-actions a.icon {
    text-decoration: none
}

.widget-actions a .icon+span,
.widget-actions a.icon+span {
    margin-left: 2px
}

.widget-actions a.active,
.widget-actions a:focus,
.widget-actions a:hover {
    color: #bdbdbd;
    text-decoration: none
}

.widget-actions a:last-child {
    margin-right: 0
}

.widget-actions-sidebar {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px
}

.widget-actions-sidebar a {
    display: inline-block;
    width: 100%;
    height: 60px;
    margin-right: 0;
    text-align: center;
    border-right: 1px solid #e0e0e0
}

.widget-actions-sidebar a:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: ''
}

.widget-actions-sidebar a+a {
    border-top: 1px solid #e0e0e0
}

.widget-actions-sidebar+.widget-content {
    margin-left: 80px
}

.widget-watermark {
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 1;
    opacity: .1
}

.widget-watermark.darker {
    color: #000
}

.widget-watermark.lighter {
    color: #fff
}

.widget-divider:after {
    display: block;
    width: 20px;
    height: 2px;
    margin: 15px auto;
    content: "";
    background-color: #fff
}

.widget-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%
}

.widget-left+.widget-body {
    width: 60%;
    margin-left: 40%
}

@media (max-width:767px) {
    .widget-left {
        position: relative;
        width: 100%;
        height: 320px
    }
    .widget-left+.widget-body {
        width: 100%;
        margin-left: 0
    }
}

.timeline-content>.widget {
    margin: 0
}


/*#hub*/

.width-50 {
    width: 50px
}

.width-100 {
    width: 100px
}

.width-150 {
    width: 150px
}

.width-200 {
    width: 200px
}

.width-250 {
    width: 250px
}

.width-300 {
    width: 300px
}

.width-350 {
    width: 350px
}

.width-400 {
    width: 400px
}

.width-450 {
    width: 450px
}

.width-500 {
    width: 500px
}

.width-full {
    width: 100%!important
}

@media (max-width:767px) {
    .width-xs-50 {
        width: 50px
    }
    .width-xs-100 {
        width: 100px
    }
    .width-xs-150 {
        width: 150px
    }
    .width-xs-200 {
        width: 200px
    }
    .width-xs-250 {
        width: 250px
    }
    .width-xs-300 {
        width: 300px
    }
    .width-xs-350 {
        width: 350px
    }
    .width-xs-400 {
        width: 400px
    }
    .width-xs-450 {
        width: 450px
    }
    .width-xs-500 {
        width: 500px
    }
    .width-xs-100pc {
        width: 100%
    }
}

@media (min-width:768px) and (max-width:991px) {
    .width-sm-50 {
        width: 50px
    }
    .width-sm-100 {
        width: 100px
    }
    .width-sm-150 {
        width: 150px
    }
    .width-sm-200 {
        width: 200px
    }
    .width-sm-250 {
        width: 250px
    }
    .width-sm-300 {
        width: 300px
    }
    .width-sm-350 {
        width: 350px
    }
    .width-sm-400 {
        width: 400px
    }
    .width-sm-450 {
        width: 450px
    }
    .width-sm-500 {
        width: 500px
    }
    .width-sm-100pc {
        width: 100%
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .width-md-50 {
        width: 50px
    }
    .width-md-100 {
        width: 100px
    }
    .width-md-150 {
        width: 150px
    }
    .width-md-200 {
        width: 200px
    }
    .width-md-250 {
        width: 250px
    }
    .width-md-300 {
        width: 300px
    }
    .width-md-350 {
        width: 350px
    }
    .width-md-400 {
        width: 400px
    }
    .width-md-450 {
        width: 450px
    }
    .width-md-500 {
        width: 500px
    }
}

@media (min-width:1200px) {
    .width-lg-50 {
        width: 50px
    }
    .width-lg-100 {
        width: 100px
    }
    .width-lg-150 {
        width: 150px
    }
    .width-lg-200 {
        width: 200px
    }
    .width-lg-250 {
        width: 250px
    }
    .width-lg-300 {
        width: 300px
    }
    .width-lg-350 {
        width: 350px
    }
    .width-lg-400 {
        width: 400px
    }
    .width-lg-450 {
        width: 450px
    }
    .width-lg-500 {
        width: 500px
    }
}

.height-50 {
    height: 50px
}

.height-100 {
    height: 100px
}

.height-120 {
    height: 120px
}

.height-150 {
    height: 150px
}

.height-200 {
    height: 200px
}

.height-250 {
    height: 250px
}

.height-300 {
    height: 300px
}

.height-350 {
    height: 350px
}

.height-400 {
    height: 400px
}

.height-450 {
    height: 450px
}

.height-500 {
    height: 500px
}

.height-full {
    height: 100%!important
}

@media (max-width:767px) {
    .height-xs-50 {
        height: 50px
    }
    .height-xs-100 {
        height: 100px
    }
    .height-xs-120 {
        height: 120px
    }
    .height-xs-150 {
        height: 150px
    }
    .height-xs-200 {
        height: 200px
    }
    .height-xs-250 {
        height: 250px
    }
    .height-xs-300 {
        height: 300px
    }
    .height-xs-350 {
        height: 350px
    }
    .height-xs-400 {
        height: 400px
    }
    .height-xs-450 {
        height: 450px
    }
    .height-xs-500 {
        height: 500px
    }
}

@media (min-width:768px) and (max-width:991px) {
    .height-sm-50 {
        height: 50px
    }
    .height-sm-100 {
        height: 100px
    }
    .height-sm-120 {
        height: 120px
    }
    .height-sm-150 {
        height: 150px
    }
    .height-sm-200 {
        height: 200px
    }
    .height-sm-250 {
        height: 250px
    }
    .height-sm-300 {
        height: 300px
    }
    .height-sm-350 {
        height: 350px
    }
    .height-sm-400 {
        height: 400px
    }
    .height-sm-450 {
        height: 450px
    }
    .height-sm-500 {
        height: 500px
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .height-md-50 {
        height: 50px
    }
    .height-md-100 {
        height: 100px
    }
    .height-md-120 {
        height: 120px
    }
    .height-md-150 {
        height: 150px
    }
    .height-md-200 {
        height: 200px
    }
    .height-md-250 {
        height: 250px
    }
    .height-md-300 {
        height: 300px
    }
    .height-md-350 {
        height: 350px
    }
    .height-md-400 {
        height: 400px
    }
    .height-md-450 {
        height: 450px
    }
    .height-md-500 {
        height: 500px
    }
}

@media (min-width:1200px) {
    .height-lg-50 {
        height: 50px
    }
    .height-lg-100 {
        height: 100px
    }
    .height-lg-120 {
        height: 120px
    }
    .height-lg-150 {
        height: 150px
    }
    .height-lg-200 {
        height: 200px
    }
    .height-lg-250 {
        height: 250px
    }
    .height-lg-300 {
        height: 300px
    }
    .height-lg-350 {
        height: 350px
    }
    .height-lg-400 {
        height: 400px
    }
    .height-lg-450 {
        height: 450px
    }
    .height-lg-500 {
        height: 500px
    }
}

.margin-0 {
    margin: 0!important
}

.margin-3 {
    margin: 3px!important
}

.margin-5 {
    margin: 5px!important
}

.margin-10 {
    margin: 10px!important
}

.margin-15 {
    margin: 15px!important
}

.margin-20 {
    margin: 20px!important
}

.margin-25 {
    margin: 25px!important
}

.margin-30 {
    margin: 30px!important
}

.margin-35 {
    margin: 35px!important
}

.margin-40 {
    margin: 40px!important
}

.margin-45 {
    margin: 45px!important
}

.margin-50 {
    margin: 50px!important
}

.margin-60 {
    margin: 60px!important
}

.margin-70 {
    margin: 70px!important
}

.margin-80 {
    margin: 80px!important
}

.margin-vertical-0 {
    margin-top: 0!important;
    margin-bottom: 0!important
}

.margin-vertical-3 {
    margin-top: 3px!important;
    margin-bottom: 3px!important
}

.margin-vertical-5 {
    margin-top: 5px!important;
    margin-bottom: 5px!important
}

.margin-vertical-10 {
    margin-top: 10px!important;
    margin-bottom: 10px!important
}

.margin-vertical-15 {
    margin-top: 15px!important;
    margin-bottom: 15px!important
}

.margin-vertical-20 {
    margin-top: 20px!important;
    margin-bottom: 20px!important
}

.margin-vertical-25 {
    margin-top: 25px!important;
    margin-bottom: 25px!important
}

.margin-vertical-30 {
    margin-top: 30px!important;
    margin-bottom: 30px!important
}

.margin-vertical-35 {
    margin-top: 35px!important;
    margin-bottom: 35px!important
}

.margin-vertical-40 {
    margin-top: 40px!important;
    margin-bottom: 40px!important
}

.margin-vertical-45 {
    margin-top: 45px!important;
    margin-bottom: 45px!important
}

.margin-vertical-50 {
    margin-top: 50px!important;
    margin-bottom: 50px!important
}

.margin-vertical-60 {
    margin-top: 60px!important;
    margin-bottom: 60px!important
}

.margin-vertical-70 {
    margin-top: 70px!important;
    margin-bottom: 70px!important
}

.margin-vertical-80 {
    margin-top: 80px!important;
    margin-bottom: 80px!important
}

.margin-horizontal-0 {
    margin-right: 0!important;
    margin-left: 0!important
}

.margin-horizontal-3 {
    margin-right: 3px!important;
    margin-left: 3px!important
}

.margin-horizontal-5 {
    margin-right: 5px!important;
    margin-left: 5px!important
}

.margin-horizontal-10 {
    margin-right: 10px!important;
    margin-left: 10px!important
}

.margin-horizontal-15 {
    margin-right: 15px!important;
    margin-left: 15px!important
}

.margin-horizontal-20 {
    margin-right: 20px!important;
    margin-left: 20px!important
}

.margin-horizontal-25 {
    margin-right: 25px!important;
    margin-left: 25px!important
}

.margin-horizontal-30 {
    margin-right: 30px!important;
    margin-left: 30px!important
}

.margin-horizontal-35 {
    margin-right: 35px!important;
    margin-left: 35px!important
}

.margin-horizontal-40 {
    margin-right: 40px!important;
    margin-left: 40px!important
}

.margin-horizontal-45 {
    margin-right: 45px!important;
    margin-left: 45px!important
}

.margin-horizontal-50 {
    margin-right: 50px!important;
    margin-left: 50px!important
}

.margin-horizontal-60 {
    margin-right: 60px!important;
    margin-left: 60px!important
}

.margin-horizontal-70 {
    margin-right: 70px!important;
    margin-left: 70px!important
}

.margin-horizontal-80 {
    margin-right: 80px!important;
    margin-left: 80px!important
}

.margin-top-0 {
    margin-top: 0!important
}

.margin-top-3 {
    margin-top: 3px!important
}

.margin-top-5 {
    margin-top: 5px!important
}

.margin-top-10 {
    margin-top: 10px!important
}

.margin-top-15 {
    margin-top: 15px!important
}

.margin-top-20 {
    margin-top: 20px!important
}

.margin-top-25 {
    margin-top: 25px!important
}

.margin-top-30 {
    margin-top: 30px!important
}

.margin-top-35 {
    margin-top: 35px!important
}

.margin-top-40 {
    margin-top: 40px!important
}

.margin-top-45 {
    margin-top: 45px!important
}

.margin-top-50 {
    margin-top: 50px!important
}

.margin-top-60 {
    margin-top: 60px!important
}

.margin-top-70 {
    margin-top: 70px!important
}

.margin-top-80 {
    margin-top: 80px!important
}

.margin-bottom-0 {
    margin-bottom: 0!important
}

.margin-bottom-3 {
    margin-bottom: 3px!important
}

.margin-bottom-5 {
    margin-bottom: 5px!important
}

.margin-bottom-10 {
    margin-bottom: 10px!important
}

.margin-bottom-15 {
    margin-bottom: 15px!important
}

.margin-bottom-20 {
    margin-bottom: 20px!important
}

.margin-bottom-25 {
    margin-bottom: 25px!important
}

.margin-bottom-30 {
    margin-bottom: 30px!important
}

.margin-bottom-35 {
    margin-bottom: 35px!important
}

.margin-bottom-40 {
    margin-bottom: 40px!important
}

.margin-bottom-45 {
    margin-bottom: 45px!important
}

.margin-bottom-50 {
    margin-bottom: 50px!important
}

.margin-bottom-60 {
    margin-bottom: 60px!important
}

.margin-bottom-70 {
    margin-bottom: 70px!important
}

.margin-bottom-80 {
    margin-bottom: 80px!important
}

.margin-left-0 {
    margin-left: 0!important
}

.margin-left-3 {
    margin-left: 3px!important
}

.margin-left-5 {
    margin-left: 5px!important
}

.margin-left-10 {
    margin-left: 10px!important
}

.margin-left-15 {
    margin-left: 15px!important
}

.margin-left-20 {
    margin-left: 20px!important
}

.margin-left-25 {
    margin-left: 25px!important
}

.margin-left-30 {
    margin-left: 30px!important
}

.margin-left-35 {
    margin-left: 35px!important
}

.margin-left-40 {
    margin-left: 40px!important
}

.margin-left-45 {
    margin-left: 45px!important
}

.margin-left-50 {
    margin-left: 50px!important
}

.margin-left-60 {
    margin-left: 60px!important
}

.margin-left-70 {
    margin-left: 70px!important
}

.margin-left-80 {
    margin-left: 80px!important
}

.margin-right-0 {
    margin-right: 0!important
}

.margin-right-3 {
    margin-right: 3px!important
}

.margin-right-5 {
    margin-right: 5px!important
}

.margin-right-10 {
    margin-right: 10px!important
}

.margin-right-15 {
    margin-right: 15px!important
}

.margin-right-20 {
    margin-right: 20px!important
}

.margin-right-25 {
    margin-right: 25px!important
}

.margin-right-30 {
    margin-right: 30px!important
}

.margin-right-35 {
    margin-right: 35px!important
}

.margin-right-40 {
    margin-right: 40px!important
}

.margin-right-45 {
    margin-right: 45px!important
}

.margin-right-50 {
    margin-right: 50px!important
}

.margin-right-60 {
    margin-right: 60px!important
}

.margin-right-70 {
    margin-right: 70px!important
}

.margin-right-80 {
    margin-right: 80px!important
}

@media (max-width:767px) {
    .margin-xs-0 {
        margin: 0!important
    }
}

@media (min-width:768px) {
    .margin-sm-0 {
        margin: 0!important
    }
}

@media (min-width:992px) {
    .margin-md-0 {
        margin: 0!important
    }
}

@media (min-width:1200px) {
    .margin-lg-0 {
        margin: 0!important
    }
}

.padding-0 {
    padding: 0!important
}

.padding-3 {
    padding: 3px!important
}

.padding-5 {
    padding: 5px!important
}

.padding-10 {
    padding: 10px!important
}

.padding-15 {
    padding: 15px!important
}

.padding-20 {
    padding: 20px!important
}

.padding-25 {
    padding: 25px!important
}

.padding-30 {
    padding: 30px!important
}

.padding-35 {
    padding: 35px!important
}

.padding-40 {
    padding: 40px!important
}

.padding-45 {
    padding: 45px!important
}

.padding-50 {
    padding: 50px!important
}

.padding-60 {
    padding: 60px!important
}

.padding-70 {
    padding: 70px!important
}

.padding-80 {
    padding: 80px!important
}

.padding-vertical-0 {
    padding-top: 0!important;
    padding-bottom: 0!important
}

.padding-vertical-3 {
    padding-top: 3px!important;
    padding-bottom: 3px!important
}

.padding-vertical-5 {
    padding-top: 5px!important;
    padding-bottom: 5px!important
}

.padding-vertical-10 {
    padding-top: 10px!important;
    padding-bottom: 10px!important
}

.padding-vertical-15 {
    padding-top: 15px!important;
    padding-bottom: 15px!important
}

.padding-vertical-20 {
    padding-top: 20px!important;
    padding-bottom: 20px!important
}

.padding-vertical-25 {
    padding-top: 25px!important;
    padding-bottom: 25px!important
}

.padding-vertical-30 {
    padding-top: 30px!important;
    padding-bottom: 30px!important
}

.padding-vertical-35 {
    padding-top: 35px!important;
    padding-bottom: 35px!important
}

.padding-vertical-40 {
    padding-top: 40px!important;
    padding-bottom: 40px!important
}

.padding-vertical-45 {
    padding-top: 45px!important;
    padding-bottom: 45px!important
}

.padding-vertical-50 {
    padding-top: 50px!important;
    padding-bottom: 50px!important
}

.padding-vertical-60 {
    padding-top: 60px!important;
    padding-bottom: 60px!important
}

.padding-vertical-70 {
    padding-top: 70px!important;
    padding-bottom: 70px!important
}

.padding-vertical-80 {
    padding-top: 80px!important;
    padding-bottom: 80px!important
}

.padding-horizontal-0 {
    padding-right: 0!important;
    padding-left: 0!important
}

.padding-horizontal-3 {
    padding-right: 3px!important;
    padding-left: 3px!important
}

.padding-horizontal-5 {
    padding-right: 5px!important;
    padding-left: 5px!important
}

.padding-horizontal-10 {
    padding-right: 10px!important;
    padding-left: 10px!important
}

.padding-horizontal-15 {
    padding-right: 15px!important;
    padding-left: 15px!important
}

.padding-horizontal-20 {
    padding-right: 20px!important;
    padding-left: 20px!important
}

.padding-horizontal-25 {
    padding-right: 25px!important;
    padding-left: 25px!important
}

.padding-horizontal-30 {
    padding-right: 30px!important;
    padding-left: 30px!important
}

.padding-horizontal-35 {
    padding-right: 35px!important;
    padding-left: 35px!important
}

.padding-horizontal-40 {
    padding-right: 40px!important;
    padding-left: 40px!important
}

.padding-horizontal-45 {
    padding-right: 45px!important;
    padding-left: 45px!important
}

.padding-horizontal-50 {
    padding-right: 50px!important;
    padding-left: 50px!important
}

.padding-horizontal-60 {
    padding-right: 60px!important;
    padding-left: 60px!important
}

.padding-horizontal-70 {
    padding-right: 70px!important;
    padding-left: 70px!important
}

.padding-horizontal-80 {
    padding-right: 80px!important;
    padding-left: 80px!important
}

.padding-top-0 {
    padding-top: 0!important
}

.padding-top-3 {
    padding-top: 3px!important
}

.padding-top-5 {
    padding-top: 5px!important
}

.padding-top-10 {
    padding-top: 10px!important
}

.padding-top-15 {
    padding-top: 15px!important
}

.padding-top-20 {
    padding-top: 20px!important
}

.padding-top-25 {
    padding-top: 25px!important
}

.padding-top-30 {
    padding-top: 30px!important
}

.padding-top-35 {
    padding-top: 35px!important
}

.padding-top-40 {
    padding-top: 40px!important
}

.padding-top-45 {
    padding-top: 45px!important
}

.padding-top-50 {
    padding-top: 50px!important
}

.padding-top-60 {
    padding-top: 60px!important
}

.padding-top-70 {
    padding-top: 70px!important
}

.padding-top-80 {
    padding-top: 80px!important
}

.padding-bottom-0 {
    padding-bottom: 0!important
}

.padding-bottom-3 {
    padding-bottom: 3px!important
}

.padding-bottom-5 {
    padding-bottom: 5px!important
}

.padding-bottom-10 {
    padding-bottom: 10px!important
}

.padding-bottom-15 {
    padding-bottom: 15px!important
}

.padding-bottom-20 {
    padding-bottom: 20px!important
}

.padding-bottom-25 {
    padding-bottom: 25px!important
}

.padding-bottom-30 {
    padding-bottom: 30px!important
}

.padding-bottom-35 {
    padding-bottom: 35px!important
}

.padding-bottom-40 {
    padding-bottom: 40px!important
}

.padding-bottom-45 {
    padding-bottom: 45px!important
}

.padding-bottom-50 {
    padding-bottom: 50px!important
}

.padding-bottom-60 {
    padding-bottom: 60px!important
}

.padding-bottom-70 {
    padding-bottom: 70px!important
}

.padding-bottom-80 {
    padding-bottom: 80px!important
}

.padding-left-0 {
    padding-left: 0!important
}

.padding-left-3 {
    padding-left: 3px!important
}

.padding-left-5 {
    padding-left: 5px!important
}

.padding-left-10 {
    padding-left: 10px!important
}

.padding-left-15 {
    padding-left: 15px!important
}

.padding-left-20 {
    padding-left: 20px!important
}

.padding-left-25 {
    padding-left: 25px!important
}

.padding-left-30 {
    padding-left: 30px!important
}

.padding-left-35 {
    padding-left: 35px!important
}

.padding-left-40 {
    padding-left: 40px!important
}

.padding-left-45 {
    padding-left: 45px!important
}

.padding-left-50 {
    padding-left: 50px!important
}

.padding-left-60 {
    padding-left: 60px!important
}

.padding-left-70 {
    padding-left: 70px!important
}

.padding-left-80 {
    padding-left: 80px!important
}

.padding-right-0 {
    padding-right: 0!important
}

.padding-right-3 {
    padding-right: 3px!important
}

.padding-right-5 {
    padding-right: 5px!important
}

.padding-right-10 {
    padding-right: 10px!important
}

.padding-right-15 {
    padding-right: 15px!important
}

.padding-right-20 {
    padding-right: 20px!important
}

.padding-right-25 {
    padding-right: 25px!important
}

.padding-right-30 {
    padding-right: 30px!important
}

.padding-right-35 {
    padding-right: 35px!important
}

.padding-right-40 {
    padding-right: 40px!important
}

.padding-right-45 {
    padding-right: 45px!important
}

.padding-right-50 {
    padding-right: 50px!important
}

.padding-right-60 {
    padding-right: 60px!important
}

.padding-right-70 {
    padding-right: 70px!important
}

.padding-right-80 {
    padding-right: 80px!important
}

@media (max-width:767px) {
    .padding-xs-0 {
        padding: 0!important
    }
}

@media (min-width:768px) {
    .padding-sm-0 {
        padding: 0!important
    }
}

@media (min-width:992px) {
    .padding-md-0 {
        padding: 0!important
    }
}

@media (min-width:1200px) {
    .padding-lg-0 {
        padding: 0!important
    }
}

.example-wrap {
    margin-bottom: 80px
}

.example-wrap .example-wrap {
    margin-bottom: 0
}

.example {
    margin-top: 20px;
    margin-bottom: 20px
}

.example:after,
.example:before {
    display: table;
    content: " "
}

.example:after {
    clear: both
}

.example-title {
    text-transform: uppercase
}

.example-title,
h4.example-title {
    font-size: 14px
}

.panel-body>.example-wrap:last-child {
    margin-bottom: 0
}

.panel-body>.row:last-child>[class*=col-]:last-child .example-wrap:last-child {
    margin-bottom: 0
}

.example-well {
    position: relative;
    margin-bottom: 30px;
    background-color: #eceff1
}

.example-well .center {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.example-dropdown .dropdown:after,
.example-dropdown .dropdown:before,
.example-dropdown .dropup:after,
.example-dropdown .dropup:before {
    display: table;
    content: " "
}

.example-dropdown .dropdown:after,
.example-dropdown .dropup:after {
    clear: both
}

.example-dropdown .dropdown>.dropdown-toggle,
.example-dropdown .dropup>.dropdown-toggle {
    float: left
}

.example-dropdown .dropdown>.dropdown-menu,
.example-dropdown .dropup>.dropdown-menu {
    position: static;
    display: block;
    clear: left
}

.example-dropdown .dropdown>.dropdown-menu-right,
.example-dropdown .dropup>.dropdown-menu-right {
    float: right;
    clear: right
}

.example-tooltip {
    position: relative;
    z-index: 1;
    display: inline-block
}

.example-tooltip .tooltip {
    position: relative;
    margin-right: 25px;
    opacity: 1
}

.example-blocks .example-col,
.example-grid .example-col {
    min-height: 0;
    padding: 10px 15px 12px;
    background-color: #eceff1;
    border-radius: 0
}

.example-grid .example-col {
    margin-bottom: 20px
}

.example-grid .example-col .example-col {
    margin-top: 20px;
    margin-bottom: 0;
    background-color: #dde3e6
}

.example-popover {
    position: relative;
    z-index: 1;
    display: inline-block
}

.example-popover .popover {
    position: relative;
    display: block;
    margin-right: 25px
}

.example-buttons .btn,
.example-buttons .btn-group,
.example-buttons .btn-group-vertical {
    margin-right: 15px;
    margin-bottom: 20px
}

.example-buttons .btn-group .btn,
.example-buttons .btn-group .btn-group,
.example-buttons .btn-group .btn-group-vertical,
.example-buttons .btn-group-vertical .btn,
.example-buttons .btn-group-vertical .btn-group,
.example-buttons .btn-group-vertical .btn-group-vertical {
    margin-right: 0;
    margin-bottom: 0
}

.example-box {
    position: relative;
    padding: 45px 15px 15px;
    margin-right: 0;
    margin-left: 0;
    border: 1px solid #e0e0e0
}

.example-box:after {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "Example"
}

.example-avatars .avatar {
    margin-right: 20px;
    margin-bottom: 20px
}

.example-avatars .avatar:last-child {
    margin-right: 20px
}

.example-typography {
    position: relative;
    padding-left: 25%
}

.example-typography .heading-note,
.example-typography .text-note {
    position: absolute;
    bottom: 2px;
    left: 0;
    display: block;
    width: 260px;
    font-size: 13px;
    font-weight: 300;
    line-height: 13px;
    color: #aab2bd
}

.example-typography .text-note {
    top: 10px;
    bottom: auto
}

.example-responsive {
    min-height: .01%;
    overflow-x: auto
}

@media screen and (max-width:767px) {
    .example-responsive {
        width: 100%;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }
}

.red-50 {
    color: #ffebee!important
}

.red-100 {
    color: #ffcdd2!important
}

.red-200 {
    color: #ef9a9a!important
}

.red-300 {
    color: #e57373!important
}

.red-400 {
    color: #ef5350!important
}

.red-500 {
    color: #f44336!important
}

.red-600 {
    color: #e53935!important
}

.red-700 {
    color: #d32f2f!important
}

.red-800 {
    color: #c62828!important
}

.red-900 {
    color: #b71c1c!important
}

.red-a100 {
    color: #ff8a80!important
}

.red-a200 {
    color: #ff5252!important
}

.red-a300 {
    color: #ff1744!important
}

.red-a400 {
    color: #d50000!important
}

.pink-50 {
    color: #fce4ec!important
}

.pink-100 {
    color: #f8bbd0!important
}

.pink-200 {
    color: #f48fb1!important
}

.pink-300 {
    color: #f06292!important
}

.pink-400 {
    color: #ec407a!important
}

.pink-500 {
    color: #e91e63!important
}

.pink-600 {
    color: #d81b60!important
}

.pink-700 {
    color: #c2185b!important
}

.pink-800 {
    color: #ad1457!important
}

.pink-900 {
    color: #880e4f!important
}

.pink-a100 {
    color: #ff80ab!important
}

.pink-a200 {
    color: #ff4081!important
}

.pink-a300 {
    color: #f50057!important
}

.pink-a400 {
    color: #c51162!important
}

.purple-50 {
    color: #f3e5f5!important
}

.purple-100 {
    color: #e1bee7!important
}

.purple-200 {
    color: #ce93d8!important
}

.purple-300 {
    color: #ba68c8!important
}

.purple-400 {
    color: #ab47bc!important
}

.purple-500 {
    color: #9c27b0!important
}

.purple-600 {
    color: #8e24aa!important
}

.purple-700 {
    color: #7b1fa2!important
}

.purple-800 {
    color: #6a1b9a!important
}

.purple-900 {
    color: #4a148c!important
}

.purple-a100 {
    color: #ea80fc!important
}

.purple-a200 {
    color: #e040fb!important
}

.purple-a300 {
    color: #d500f9!important
}

.purple-a400 {
    color: #a0f!important
}

.deep-purple-50 {
    color: #ede7f6!important
}

.deep-purple-100 {
    color: #d1c4e9!important
}

.deep-purple-200 {
    color: #b39ddb!important
}

.deep-purple-300 {
    color: #9575cd!important
}

.deep-purple-400 {
    color: #7e57c2!important
}

.deep-purple-500 {
    color: #673ab7!important
}

.deep-purple-600 {
    color: #5e35b1!important
}

.deep-purple-700 {
    color: #512da8!important
}

.deep-purple-800 {
    color: #4527a0!important
}

.deep-purple-900 {
    color: #311b92!important
}

.deep-purple-a100 {
    color: #b388ff!important
}

.deep-purple-a200 {
    color: #7c4dff!important
}

.deep-purple-a300 {
    color: #651fff!important
}

.deep-purple-a400 {
    color: #6200ea!important
}

.indigo-50 {
    color: #e8eaf6!important
}

.indigo-100 {
    color: #c5cae9!important
}

.indigo-200 {
    color: #9fa8da!important
}

.indigo-300 {
    color: #7986cb!important
}

.indigo-400 {
    color: #5c6bc0!important
}

.indigo-500 {
    color: #3f51b5!important
}

.indigo-600 {
    color: #3949ab!important
}

.indigo-700 {
    color: #303f9f!important
}

.indigo-800 {
    color: #283593!important
}

.indigo-900 {
    color: #1a237e!important
}

.indigo-a100 {
    color: #8c9eff!important
}

.indigo-a200 {
    color: #536dfe!important
}

.indigo-a300 {
    color: #3d5afe!important
}

.indigo-a400 {
    color: #304ffe!important
}

.blue-50 {
    color: #e3f2fd!important
}

.blue-100 {
    color: #bbdefb!important
}

.blue-200 {
    color: #90caf9!important
}

.blue-300 {
    color: #64b5f6!important
}

.blue-400 {
    color: #42a5f5!important
}

.blue-500 {
    color: #2196f3!important
}

.blue-600 {
    color: #1e88e5!important
}

.blue-700 {
    color: #1976d2!important
}

.blue-800 {
    color: #1565c0!important
}

.blue-900 {
    color: #0d47a1!important
}

.blue-a100 {
    color: #82b1ff!important
}

.blue-a200 {
    color: #448aff!important
}

.blue-a300 {
    color: #2979ff!important
}

.blue-a400 {
    color: #2962ff!important
}

.light-blue-50 {
    color: #e1f5fe!important
}

.light-blue-100 {
    color: #b3e5fc!important
}

.light-blue-200 {
    color: #81d4fa!important
}

.light-blue-300 {
    color: #4fc3f7!important
}

.light-blue-400 {
    color: #29b6f6!important
}

.light-blue-500 {
    color: #03a9f4!important
}

.light-blue-600 {
    color: #039be5!important
}

.light-blue-700 {
    color: #0288d1!important
}

.light-blue-800 {
    color: #0277bd!important
}

.light-blue-900 {
    color: #01579b!important
}

.light-blue-a100 {
    color: #80d8ff!important
}

.light-blue-a200 {
    color: #40c4ff!important
}

.light-blue-a300 {
    color: #00b0ff!important
}

.light-blue-a400 {
    color: #0091ea!important
}

.cyan-50 {
    color: #e0f7fa!important
}

.cyan-100 {
    color: #b2ebf2!important
}

.cyan-200 {
    color: #80deea!important
}

.cyan-300 {
    color: #4dd0e1!important
}

.cyan-400 {
    color: #26c6da!important
}

.cyan-500 {
    color: #00bcd4!important
}

.cyan-600 {
    color: #00acc1!important
}

.cyan-700 {
    color: #0097a7!important
}

.cyan-800 {
    color: #00838f!important
}

.cyan-900 {
    color: #006064!important
}

.cyan-a100 {
    color: #84ffff!important
}

.cyan-a200 {
    color: #18ffff!important
}

.cyan-a300 {
    color: #00e5ff!important
}

.cyan-a400 {
    color: #00b8d4!important
}

.teal-50 {
    color: #e0f2f1!important
}

.teal-100 {
    color: #b2dfdb!important
}

.teal-200 {
    color: #80cbc4!important
}

.teal-300 {
    color: #4db6ac!important
}

.teal-400 {
    color: #26a69a!important
}

.teal-500 {
    color: #009688!important
}

.teal-600 {
    color: #00897b!important
}

.teal-700 {
    color: #00796b!important
}

.teal-800 {
    color: #00695c!important
}

.teal-900 {
    color: #004d40!important
}

.teal-a100 {
    color: #a7ffeb!important
}

.teal-a200 {
    color: #64ffda!important
}

.teal-a300 {
    color: #1de9b6!important
}

.teal-a400 {
    color: #00bfa5!important
}

.green-50 {
    color: #e8f5e9!important
}

.green-100 {
    color: #c8e6c9!important
}

.green-200 {
    color: #a5d6a7!important
}

.green-300 {
    color: #81c784!important
}

.green-400 {
    color: #66bb6a!important
}

.green-500 {
    color: #4caf50!important
}

.green-600 {
    color: #43a047!important
}

.green-700 {
    color: #388e3c!important
}

.green-800 {
    color: #2e7d32!important
}

.green-900 {
    color: #1b5e20!important
}

.green-a100 {
    color: #b9f6ca!important
}

.green-a200 {
    color: #69f0ae!important
}

.green-a300 {
    color: #00e676!important
}

.green-a400 {
    color: #00c853!important
}

.light-green-50 {
    color: #f1f8e9!important
}

.light-green-100 {
    color: #dcedc8!important
}

.light-green-200 {
    color: #c5e1a5!important
}

.light-green-300 {
    color: #aed581!important
}

.light-green-400 {
    color: #9ccc65!important
}

.light-green-500 {
    color: #8bc34a!important
}

.light-green-600 {
    color: #7cb342!important
}

.light-green-700 {
    color: #689f38!important
}

.light-green-800 {
    color: #558b2f!important
}

.light-green-900 {
    color: #33691e!important
}

.light-green-a100 {
    color: #ccff90!important
}

.light-green-a200 {
    color: #b2ff59!important
}

.light-green-a300 {
    color: #76ff03!important
}

.light-green-a400 {
    color: #64dd17!important
}

.lime-50 {
    color: #f9fbe7!important
}

.lime-100 {
    color: #f0f4c3!important
}

.lime-200 {
    color: #e6ee9c!important
}

.lime-300 {
    color: #dce775!important
}

.lime-400 {
    color: #d4e157!important
}

.lime-500 {
    color: #cddc39!important
}

.lime-600 {
    color: #c0ca33!important
}

.lime-700 {
    color: #afb42b!important
}

.lime-800 {
    color: #9e9d24!important
}

.lime-900 {
    color: #827717!important
}

.lime-a100 {
    color: #f4ff81!important
}

.lime-a200 {
    color: #eeff41!important
}

.lime-a300 {
    color: #c6ff00!important
}

.lime-a400 {
    color: #aeea00!important
}

.yellow-50 {
    color: #fffde7!important
}

.yellow-100 {
    color: #fff9c4!important
}

.yellow-200 {
    color: #fff59d!important
}

.yellow-300 {
    color: #fff176!important
}

.yellow-400 {
    color: #ffee58!important
}

.yellow-500 {
    color: #ffeb3b!important
}

.yellow-600 {
    color: #fdd835!important
}

.yellow-700 {
    color: #fbc02d!important
}

.yellow-800 {
    color: #f9a825!important
}

.yellow-900 {
    color: #f57f17!important
}

.yellow-a100 {
    color: #ffff8d!important
}

.yellow-a200 {
    color: #ff0!important
}

.yellow-a300 {
    color: #ffea00!important
}

.yellow-a400 {
    color: #ffd600!important
}

.amber-50 {
    color: #fff8e1!important
}

.amber-100 {
    color: #ffecb3!important
}

.amber-200 {
    color: #ffe082!important
}

.amber-300 {
    color: #ffd54f!important
}

.amber-400 {
    color: #ffca28!important
}

.amber-500 {
    color: #ffc107!important
}

.amber-600 {
    color: #ffb300!important
}

.amber-700 {
    color: #ffa000!important
}

.amber-800 {
    color: #ff8f00!important
}

.amber-900 {
    color: #ff6f00!important
}

.amber-a100 {
    color: #ffe57f!important
}

.amber-a200 {
    color: #ffd740!important
}

.amber-a300 {
    color: #ffc400!important
}

.amber-a400 {
    color: #ffab00!important
}

.orange-50 {
    color: #fff3e0!important
}

.orange-100 {
    color: #ffe0b2!important
}

.orange-200 {
    color: #ffcc80!important
}

.orange-300 {
    color: #ffb74d!important
}

.orange-400 {
    color: #ffa726!important
}

.orange-500 {
    color: #ff9800!important
}

.orange-600 {
    color: #fb8c00!important
}

.orange-700 {
    color: #f57c00!important
}

.orange-800 {
    color: #ef6c00!important
}

.orange-900 {
    color: #e65100!important
}

.orange-a100 {
    color: #ffd180!important
}

.orange-a200 {
    color: #ffab40!important
}

.orange-a300 {
    color: #ff9100!important
}

.orange-a400 {
    color: #ff6d00!important
}

.deep-orange-50 {
    color: #fbe9e7!important
}

.deep-orange-100 {
    color: #ffccbc!important
}

.deep-orange-200 {
    color: #ffab91!important
}

.deep-orange-300 {
    color: #ff8a65!important
}

.deep-orange-400 {
    color: #ff7043!important
}

.deep-orange-500 {
    color: #ff5722!important
}

.deep-orange-600 {
    color: #f4511e!important
}

.deep-orange-700 {
    color: #e64a19!important
}

.deep-orange-800 {
    color: #d84315!important
}

.deep-orange-900 {
    color: #bf360c!important
}

.deep-orange-a100 {
    color: #ff9e80!important
}

.deep-orange-a200 {
    color: #ff6e40!important
}

.deep-orange-a300 {
    color: #ff3d00!important
}

.deep-orange-a400 {
    color: #dd2c00!important
}

.primary-50 {
    color: #e8eaf6!important
}

.primary-100 {
    color: #c5cae9!important
}

.primary-200 {
    color: #9fa8da!important
}

.primary-300 {
    color: #7986cb!important
}

.primary-400 {
    color: #5c6bc0!important
}

.primary-500 {
    color: #3f51b5!important
}

.primary-600 {
    color: #3949ab!important
}

.primary-700 {
    color: #303f9f!important
}

.primary-800 {
    color: #283593!important
}

.primary-900 {
    color: #1a237e!important
}

.brown-50 {
    color: #efebe9!important
}

.brown-100 {
    color: #d7ccc8!important
}

.brown-200 {
    color: #bcaaa4!important
}

.brown-300 {
    color: #a1887f!important
}

.brown-400 {
    color: #8d6e63!important
}

.brown-500 {
    color: #795548!important
}

.brown-600 {
    color: #6d4c41!important
}

.brown-700 {
    color: #5d4037!important
}

.brown-800 {
    color: #4e342e!important
}

.brown-900 {
    color: #3e2723!important
}

.blue-grey-50 {
    color: #eceff1!important
}

.blue-grey-100 {
    color: #cfd8dc!important
}

.blue-grey-200 {
    color: #b0bec5!important
}

.blue-grey-300 {
    color: #90a4ae!important
}

.blue-grey-400 {
    color: #78909c!important
}

.blue-grey-500 {
    color: #607d8b!important
}

.blue-grey-600 {
    color: #546e7a!important
}

.blue-grey-700 {
    color: #455a64!important
}

.blue-grey-800 {
    color: #37474f!important
}

.blue-grey-900 {
    color: #263238!important
}

.grey-50 {
    color: #fafafa!important
}

.grey-100 {
    color: #f5f5f5!important
}

.grey-200 {
    color: #eee!important
}

.grey-300 {
    color: #e0e0e0!important
}

.grey-400 {
    color: #bdbdbd!important
}

.grey-500 {
    color: #9e9e9e!important
}

.grey-600 {
    color: #757575!important
}

.grey-700 {
    color: #616161!important
}

.grey-800 {
    color: #424242!important
}

.grey-900 {
    color: #212121!important
}

.bg-red-50 {
    background-color: #ffebee!important
}

.bg-red-100 {
    background-color: #ffcdd2!important
}

.bg-red-200 {
    background-color: #ef9a9a!important
}

.bg-red-300 {
    background-color: #e57373!important
}

.bg-red-400 {
    background-color: #ef5350!important
}

.bg-red-500 {
    background-color: #f44336!important
}

.bg-red-600 {
    background-color: #e53935!important
}

.bg-red-700 {
    background-color: #d32f2f!important
}

.bg-red-800 {
    background-color: #c62828!important
}

.bg-red-900 {
    background-color: #b71c1c!important
}

.bg-red-a100 {
    background-color: #ff8a80!important
}

.bg-red-a200 {
    background-color: #ff5252!important
}

.bg-red-a300 {
    background-color: #ff1744!important
}

.bg-red-a400 {
    background-color: #d50000!important
}

.bg-pink-50 {
    background-color: #fce4ec!important
}

.bg-pink-100 {
    background-color: #f8bbd0!important
}

.bg-pink-200 {
    background-color: #f48fb1!important
}

.bg-pink-300 {
    background-color: #f06292!important
}

.bg-pink-400 {
    background-color: #ec407a!important
}

.bg-pink-500 {
    background-color: #e91e63!important
}

.bg-pink-600 {
    background-color: #d81b60!important
}

.bg-pink-700 {
    background-color: #c2185b!important
}

.bg-pink-800 {
    background-color: #ad1457!important
}

.bg-pink-900 {
    background-color: #880e4f!important
}

.bg-pink-a100 {
    background-color: #ff80ab!important
}

.bg-pink-a200 {
    background-color: #ff4081!important
}

.bg-pink-a300 {
    background-color: #f50057!important
}

.bg-pink-a400 {
    background-color: #c51162!important
}

.bg-purple-50 {
    background-color: #f3e5f5!important
}

.bg-purple-100 {
    background-color: #e1bee7!important
}

.bg-purple-200 {
    background-color: #ce93d8!important
}

.bg-purple-300 {
    background-color: #ba68c8!important
}

.bg-purple-400 {
    background-color: #ab47bc!important
}

.bg-purple-500 {
    background-color: #9c27b0!important
}

.bg-purple-600 {
    background-color: #8e24aa!important
}

.bg-purple-700 {
    background-color: #7b1fa2!important
}

.bg-purple-800 {
    background-color: #6a1b9a!important
}

.bg-purple-900 {
    background-color: #4a148c!important
}

.bg-purple-a100 {
    background-color: #ea80fc!important
}

.bg-purple-a200 {
    background-color: #e040fb!important
}

.bg-purple-a300 {
    background-color: #d500f9!important
}

.bg-purple-a400 {
    background-color: #a0f!important
}

.bg-deep-purple-50 {
    background-color: #ede7f6!important
}

.bg-deep-purple-100 {
    background-color: #d1c4e9!important
}

.bg-deep-purple-200 {
    background-color: #b39ddb!important
}

.bg-deep-purple-300 {
    background-color: #9575cd!important
}

.bg-deep-purple-400 {
    background-color: #7e57c2!important
}

.bg-deep-purple-500 {
    background-color: #673ab7!important
}

.bg-deep-purple-600 {
    background-color: #5e35b1!important
}

.bg-deep-purple-700 {
    background-color: #512da8!important
}

.bg-deep-purple-800 {
    background-color: #4527a0!important
}

.bg-deep-purple-900 {
    background-color: #311b92!important
}

.bg-deep-purple-a100 {
    background-color: #b388ff!important
}

.bg-deep-purple-a200 {
    background-color: #7c4dff!important
}

.bg-deep-purple-a300 {
    background-color: #651fff!important
}

.bg-deep-purple-a400 {
    background-color: #6200ea!important
}

.bg-indigo-50 {
    background-color: #e8eaf6!important
}

.bg-indigo-100 {
    background-color: #c5cae9!important
}

.bg-indigo-200 {
    background-color: #9fa8da!important
}

.bg-indigo-300 {
    background-color: #7986cb!important
}

.bg-indigo-400 {
    background-color: #5c6bc0!important
}

.bg-indigo-500 {
    background-color: #3f51b5!important
}

.bg-indigo-600 {
    background-color: #3949ab!important
}

.bg-indigo-700 {
    background-color: #303f9f!important
}

.bg-indigo-800 {
    background-color: #283593!important
}

.bg-indigo-900 {
    background-color: #1a237e!important
}

.bg-indigo-a100 {
    background-color: #8c9eff!important
}

.bg-indigo-a200 {
    background-color: #536dfe!important
}

.bg-indigo-a300 {
    background-color: #3d5afe!important
}

.bg-indigo-a400 {
    background-color: #304ffe!important
}

.bg-blue-50 {
    background-color: #e3f2fd!important
}

.bg-blue-100 {
    background-color: #bbdefb!important
}

.bg-blue-200 {
    background-color: #90caf9!important
}

.bg-blue-300 {
    background-color: #64b5f6!important
}

.bg-blue-400 {
    background-color: #42a5f5!important
}

.bg-blue-500 {
    background-color: #2196f3!important
}

.bg-blue-600 {
    background-color: #1e88e5!important
}

.bg-blue-700 {
    background-color: #1976d2!important
}

.bg-blue-800 {
    background-color: #1565c0!important
}

.bg-blue-900 {
    background-color: #0d47a1!important
}

.bg-blue-a100 {
    background-color: #82b1ff!important
}

.bg-blue-a200 {
    background-color: #448aff!important
}

.bg-blue-a300 {
    background-color: #2979ff!important
}

.bg-blue-a400 {
    background-color: #2962ff!important
}

.bg-light-blue-50 {
    background-color: #e1f5fe!important
}

.bg-light-blue-100 {
    background-color: #b3e5fc!important
}

.bg-light-blue-200 {
    background-color: #81d4fa!important
}

.bg-light-blue-300 {
    background-color: #4fc3f7!important
}

.bg-light-blue-400 {
    background-color: #29b6f6!important
}

.bg-light-blue-500 {
    background-color: #03a9f4!important
}

.bg-light-blue-600 {
    background-color: #039be5!important
}

.bg-light-blue-700 {
    background-color: #0288d1!important
}

.bg-light-blue-800 {
    background-color: #0277bd!important
}

.bg-light-blue-900 {
    background-color: #01579b!important
}

.bg-light-blue-a100 {
    background-color: #80d8ff!important
}

.bg-light-blue-a200 {
    background-color: #40c4ff!important
}

.bg-light-blue-a300 {
    background-color: #00b0ff!important
}

.bg-light-blue-a400 {
    background-color: #0091ea!important
}

.bg-cyan-50 {
    background-color: #e0f7fa!important
}

.bg-cyan-100 {
    background-color: #b2ebf2!important
}

.bg-cyan-200 {
    background-color: #80deea!important
}

.bg-cyan-300 {
    background-color: #4dd0e1!important
}

.bg-cyan-400 {
    background-color: #26c6da!important
}

.bg-cyan-500 {
    background-color: #00bcd4!important
}

.bg-cyan-600 {
    background-color: #00acc1!important
}

.bg-cyan-700 {
    background-color: #0097a7!important
}

.bg-cyan-800 {
    background-color: #00838f!important
}

.bg-cyan-900 {
    background-color: #006064!important
}

.bg-cyan-a100 {
    background-color: #84ffff!important
}

.bg-cyan-a200 {
    background-color: #18ffff!important
}

.bg-cyan-a300 {
    background-color: #00e5ff!important
}

.bg-cyan-a400 {
    background-color: #00b8d4!important
}

.bg-teal-50 {
    background-color: #e0f2f1!important
}

.bg-teal-100 {
    background-color: #b2dfdb!important
}

.bg-teal-200 {
    background-color: #80cbc4!important
}

.bg-teal-300 {
    background-color: #4db6ac!important
}

.bg-teal-400 {
    background-color: #26a69a!important
}

.bg-teal-500 {
    background-color: #009688!important
}

.bg-teal-600 {
    background-color: #00897b!important
}

.bg-teal-700 {
    background-color: #00796b!important
}

.bg-teal-800 {
    background-color: #00695c!important
}

.bg-teal-900 {
    background-color: #004d40!important
}

.bg-teal-a100 {
    background-color: #a7ffeb!important
}

.bg-teal-a200 {
    background-color: #64ffda!important
}

.bg-teal-a300 {
    background-color: #1de9b6!important
}

.bg-teal-a400 {
    background-color: #00bfa5!important
}

.bg-green-50 {
    background-color: #e8f5e9!important
}

.bg-green-100 {
    background-color: #c8e6c9!important
}

.bg-green-200 {
    background-color: #a5d6a7!important
}

.bg-green-300 {
    background-color: #81c784!important
}

.bg-green-400 {
    background-color: #66bb6a!important
}

.bg-green-500 {
    background-color: #4caf50!important
}

.bg-green-600 {
    background-color: #43a047!important
}

.bg-green-700 {
    background-color: #388e3c!important
}

.bg-green-800 {
    background-color: #2e7d32!important
}

.bg-green-900 {
    background-color: #1b5e20!important
}

.bg-green-a100 {
    background-color: #b9f6ca!important
}

.bg-green-a200 {
    background-color: #69f0ae!important
}

.bg-green-a300 {
    background-color: #00e676!important
}

.bg-green-a400 {
    background-color: #00c853!important
}

.bg-light-green-50 {
    background-color: #f1f8e9!important
}

.bg-light-green-100 {
    background-color: #dcedc8!important
}

.bg-light-green-200 {
    background-color: #c5e1a5!important
}

.bg-light-green-300 {
    background-color: #aed581!important
}

.bg-light-green-400 {
    background-color: #9ccc65!important
}

.bg-light-green-500 {
    background-color: #8bc34a!important
}

.bg-light-green-600 {
    background-color: #7cb342!important
}

.bg-light-green-700 {
    background-color: #689f38!important
}

.bg-light-green-800 {
    background-color: #558b2f!important
}

.bg-light-green-900 {
    background-color: #33691e!important
}

.bg-light-green-a100 {
    background-color: #ccff90!important
}

.bg-light-green-a200 {
    background-color: #b2ff59!important
}

.bg-light-green-a300 {
    background-color: #76ff03!important
}

.bg-light-green-a400 {
    background-color: #64dd17!important
}

.bg-lime-50 {
    background-color: #f9fbe7!important
}

.bg-lime-100 {
    background-color: #f0f4c3!important
}

.bg-lime-200 {
    background-color: #e6ee9c!important
}

.bg-lime-300 {
    background-color: #dce775!important
}

.bg-lime-400 {
    background-color: #d4e157!important
}

.bg-lime-500 {
    background-color: #cddc39!important
}

.bg-lime-600 {
    background-color: #c0ca33!important
}

.bg-lime-700 {
    background-color: #afb42b!important
}

.bg-lime-800 {
    background-color: #9e9d24!important
}

.bg-lime-900 {
    background-color: #827717!important
}

.bg-lime-a100 {
    background-color: #f4ff81!important
}

.bg-lime-a200 {
    background-color: #eeff41!important
}

.bg-lime-a300 {
    background-color: #c6ff00!important
}

.bg-lime-a400 {
    background-color: #aeea00!important
}

.bg-yellow-50 {
    background-color: #fffde7!important
}

.bg-yellow-100 {
    background-color: #fff9c4!important
}

.bg-yellow-200 {
    background-color: #fff59d!important
}

.bg-yellow-300 {
    background-color: #fff176!important
}

.bg-yellow-400 {
    background-color: #ffee58!important
}

.bg-yellow-500 {
    background-color: #ffeb3b!important
}

.bg-yellow-600 {
    background-color: #fdd835!important
}

.bg-yellow-700 {
    background-color: #fbc02d!important
}

.bg-yellow-800 {
    background-color: #f9a825!important
}

.bg-yellow-900 {
    background-color: #f57f17!important
}

.bg-yellow-a100 {
    background-color: #ffff8d!important
}

.bg-yellow-a200 {
    background-color: #ff0!important
}

.bg-yellow-a300 {
    background-color: #ffea00!important
}

.bg-yellow-a400 {
    background-color: #ffd600!important
}

.bg-amber-50 {
    background-color: #fff8e1!important
}

.bg-amber-100 {
    background-color: #ffecb3!important
}

.bg-amber-200 {
    background-color: #ffe082!important
}

.bg-amber-300 {
    background-color: #ffd54f!important
}

.bg-amber-400 {
    background-color: #ffca28!important
}

.bg-amber-500 {
    background-color: #ffc107!important
}

.bg-amber-600 {
    background-color: #ffb300!important
}

.bg-amber-700 {
    background-color: #ffa000!important
}

.bg-amber-800 {
    background-color: #ff8f00!important
}

.bg-amber-900 {
    background-color: #ff6f00!important
}

.bg-amber-a100 {
    background-color: #ffe57f!important
}

.bg-amber-a200 {
    background-color: #ffd740!important
}

.bg-amber-a300 {
    background-color: #ffc400!important
}

.bg-amber-a400 {
    background-color: #ffab00!important
}

.bg-orange-50 {
    background-color: #fff3e0!important
}

.bg-orange-100 {
    background-color: #ffe0b2!important
}

.bg-orange-200 {
    background-color: #ffcc80!important
}

.bg-orange-300 {
    background-color: #ffb74d!important
}

.bg-orange-400 {
    background-color: #ffa726!important
}

.bg-orange-500 {
    background-color: #ff9800!important
}

.bg-orange-600 {
    background-color: #fb8c00!important
}

.bg-orange-700 {
    background-color: #f57c00!important
}

.bg-orange-800 {
    background-color: #ef6c00!important
}

.bg-orange-900 {
    background-color: #e65100!important
}

.bg-orange-a100 {
    background-color: #ffd180!important
}

.bg-orange-a200 {
    background-color: #ffab40!important
}

.bg-orange-a300 {
    background-color: #ff9100!important
}

.bg-orange-a400 {
    background-color: #ff6d00!important
}

.bg-deep-orange-50 {
    background-color: #fbe9e7!important
}

.bg-deep-orange-100 {
    background-color: #ffccbc!important
}

.bg-deep-orange-200 {
    background-color: #ffab91!important
}

.bg-deep-orange-300 {
    background-color: #ff8a65!important
}

.bg-deep-orange-400 {
    background-color: #ff7043!important
}

.bg-deep-orange-500 {
    background-color: #ff5722!important
}

.bg-deep-orange-600 {
    background-color: #f4511e!important
}

.bg-deep-orange-700 {
    background-color: #e64a19!important
}

.bg-deep-orange-800 {
    background-color: #d84315!important
}

.bg-deep-orange-900 {
    background-color: #bf360c!important
}

.bg-deep-orange-a100 {
    background-color: #ff9e80!important
}

.bg-deep-orange-a200 {
    background-color: #ff6e40!important
}

.bg-deep-orange-a300 {
    background-color: #ff3d00!important
}

.bg-deep-orange-a400 {
    background-color: #dd2c00!important
}

.bg-primary-50 {
    background-color: #e8eaf6!important
}

.bg-primary-100 {
    background-color: #c5cae9!important
}

.bg-primary-200 {
    background-color: #9fa8da!important
}

.bg-primary-300 {
    background-color: #7986cb!important
}

.bg-primary-400 {
    background-color: #5c6bc0!important
}

.bg-primary-500 {
    background-color: #3f51b5!important
}

.bg-primary-600 {
    background-color: #3949ab!important
}

.bg-primary-700 {
    background-color: #303f9f!important
}

.bg-primary-800 {
    background-color: #283593!important
}

.bg-primary-900 {
    background-color: #1a237e!important
}

.bg-brown-50 {
    background-color: #efebe9!important
}

.bg-brown-100 {
    background-color: #d7ccc8!important
}

.bg-brown-200 {
    background-color: #bcaaa4!important
}

.bg-brown-300 {
    background-color: #a1887f!important
}

.bg-brown-400 {
    background-color: #8d6e63!important
}

.bg-brown-500 {
    background-color: #795548!important
}

.bg-brown-600 {
    background-color: #6d4c41!important
}

.bg-brown-700 {
    background-color: #5d4037!important
}

.bg-brown-800 {
    background-color: #4e342e!important
}

.bg-brown-900 {
    background-color: #3e2723!important
}

.bg-blue-grey-50 {
    background-color: #eceff1!important
}

.bg-blue-grey-100 {
    background-color: #cfd8dc!important
}

.bg-blue-grey-200 {
    background-color: #b0bec5!important
}

.bg-blue-grey-300 {
    background-color: #90a4ae!important
}

.bg-blue-grey-400 {
    background-color: #78909c!important
}

.bg-blue-grey-500 {
    background-color: #607d8b!important
}

.bg-blue-grey-600 {
    background-color: #546e7a!important
}

.bg-blue-grey-700 {
    background-color: #455a64!important
}

.bg-blue-grey-800 {
    background-color: #37474f!important
}

.bg-blue-grey-900 {
    background-color: #263238!important
}

.bg-grey-50 {
    background-color: #fafafa!important
}

.bg-grey-100 {
    background-color: #f5f5f5!important
}

.bg-grey-200 {
    background-color: #eee!important
}

.bg-grey-300 {
    background-color: #e0e0e0!important
}

.bg-grey-400 {
    background-color: #bdbdbd!important
}

.bg-grey-500 {
    background-color: #9e9e9e!important
}

.bg-grey-600 {
    background-color: #757575!important
}

.bg-grey-700 {
    background-color: #616161!important
}

.bg-grey-800 {
    background-color: #424242!important
}

.bg-grey-900 {
    background-color: #212121!important
}

.black {
    color: #000!important
}

.white {
    color: #fff!important
}

.bg-white {
    color: #757575;
    background-color: #fff
}

.bg-primary {
    color: #fff;
    background-color: #3f51b5
}

.bg-primary:hover {
    background-color: #606fc7
}

.bg-primary a,
a.bg-primary {
    color: #fff
}

.bg-primary a:hover,
a.bg-primary:hover {
    color: #fff
}

.bg-success {
    color: #fff;
    background-color: #4caf50
}

.bg-success:hover {
    background-color: #6ec071
}

.bg-success a,
a.bg-success {
    color: #fff
}

.bg-success a:hover,
a.bg-success:hover {
    color: #fff
}

.bg-info {
    color: #fff;
    background-color: #00bcd4
}

.bg-info:hover {
    background-color: #08e3ff
}

.bg-info a,
a.bg-info {
    color: #fff
}

.bg-info a:hover,
a.bg-info:hover {
    color: #fff
}

.bg-warning {
    color: #fff;
    background-color: #ff9800
}

.bg-warning:hover {
    background-color: #ffad33
}

.bg-warning a,
a.bg-warning {
    color: #fff
}

.bg-warning a:hover,
a.bg-warning:hover {
    color: #fff
}

.bg-danger {
    color: #fff;
    background-color: #f44336
}

.bg-danger:hover {
    background-color: #f77066
}

.bg-danger a,
a.bg-danger {
    color: #fff
}

.bg-danger a:hover,
a.bg-danger:hover {
    color: #fff
}

.bg-dark {
    color: #fff;
    background-color: #616161
}

.bg-dark:hover {
    background-color: #7a7a7a
}

.bg-dark a,
a.bg-dark {
    color: #fff
}

.bg-dark a:hover,
a.bg-dark:hover {
    color: #fff
}

.social-facebook {
    color: #fff;
    background-color: #3b5998!important
}

.number-widget {
    border: 1px solid;
    text-align: center;
    line-height: 65px;
    position: absolute;
    left: 8%;
    border-radius: 50%;
    top: 22%;
    width: 65px;
    height: 65px;
}


/*#hub2*/

.vertical-align {
    font-size: 0
}

.vertical-align:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: ""
}

.vertical-align-bottom,
.vertical-align-middle {
    display: inline-block;
    max-width: 100%;
    font-size: 14px
}

.vertical-align-middle {
    vertical-align: middle
}

.vertical-align-bottom {
    vertical-align: bottom
}

.inline {
    display: inline!important
}

.inline-block {
    display: inline-block!important
}

.block {
    display: block!important
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: nowrap
}

.text-break {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    white-space: normal;
    -ms-hyphens: auto
}

.text-nowrap {
    white-space: nowrap
}

.text-top {
    vertical-align: top!important
}

.text-middle {
    vertical-align: middle!important
}

.text-bottom {
    vertical-align: bottom!important
}

.text-left {
    text-align: left!important
}

.text-right {
    text-align: right!important
}

.text-center {
    text-align: center!important
}

.text-justify {
    text-align: justify!important
}

.text-lowercase {
    text-transform: lowercase!important
}

.text-uppercase {
    text-transform: uppercase!important
}

.text-capitalize {
    text-transform: capitalize!important
}

.font-weight-unset {
    font-weight: unset!important
}

.font-weight-100 {
    font-weight: 100!important
}

.font-weight-200 {
    font-weight: 200!important
}

.font-weight-300 {
    font-weight: 300!important
}

.font-weight-400 {
    font-weight: 400!important
}

.font-weight-500 {
    font-weight: 500!important
}

.font-weight-600 {
    font-weight: 600!important
}

.font-weight-700 {
    font-weight: 700!important
}

.font-weight-800 {
    font-weight: 800!important
}

.font-weight-900 {
    font-weight: 900!important
}

.font-weight-light {
    font-weight: 100!important
}

.font-weight-normal {
    font-weight: 300!important
}

.font-weight-medium {
    font-weight: 400!important
}

.font-weight-bold {
    font-weight: 500!important
}

.font-size-0 {
    font-size: 0!important
}

.font-size-10 {
    font-size: 10px!important
}

.font-size-12 {
    font-size: 12px!important
}

.font-size-14 {
    font-size: 14px!important
}

.font-size-16 {
    font-size: 16px!important
}

.font-size-18 {
    font-size: 18px!important
}

.font-size-20 {
    font-size: 20px!important
}

.font-size-24 {
    font-size: 24px!important
}

.font-size-26 {
    font-size: 26px!important
}

.font-size-30 {
    font-size: 30px!important
}

.font-size-40 {
    font-size: 40px!important
}

.font-size-50 {
    font-size: 50px!important
}

.font-size-60 {
    font-size: 60px!important
}

.font-size-70 {
    font-size: 70px!important
}

.font-size-80 {
    font-size: 80px!important
}


/*end #hub*/