@font-face {
    font-family: 'IranSans';
    src: url('../fonts/IRANSansWeb(FaNum).eot') format('eot'), url('../fonts/IRANSansWeb(FaNum).ttf') format('ttf'), url('../fonts/IRANSansWeb(FaNum).woff') format('woff');
}

* {
    font-family: IranSans;
    font-size: 13px;
}

.p-body li div {
    border-bottom: 1px #e0e0e0 solid;
    padding: 10px;
    /*padding-right: 20px!important;*/
}

.panel {
    /*background-color: #fafafa*/
    background-color: rgba(250, 250, 250, 0.41);
}

a,
a:hover,
a:active,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    color: #ef3f3e !important;
}
.table-bordered>thead>tr>th{
    border:2px #0da3dc;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    padding:15px;
         /*border-left: 0px ; */
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 0px solid #ddd;
        border-bottom: 1px solid #ddd;

}

.back-shadow{
        	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;

}
