<div id="navbar" class="navbar navbar-default          ace-save-state">

    <div class="navbar-container ace-save-state" id="navbar-container">

        <button type="button" class="navbar-toggle menu-toggler pull-right" id="menu-toggler" data-target="#sidebar">
					<span class="sr-only">Toggle sidebar</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

        <div class="navbar-header pull-right">
            <a href="index.html" class="navbar-brand">
                <small>
							<i class="fa fa-leaf"></i>
							پنل تبلیغاتی تبلیغگرام
						</small>
            </a>
        </div>

        <div class="navbar-buttons navbar-header pull-left" role="navigation">
            <ul class="nav ace-nav">
                <li class="grey dropdown-modal">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="ace-icon fa fa-tasks"></i>
                        <span class="badge badge-grey">4</span>
                    </a>

                    <ul class="dropdown-menu-left dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                        <li class="dropdown-header">
                            <i class="ace-icon fa fa-check"></i> 4 Tasks to complete
                        </li>

                        <li class="dropdown-content">
                            <ul class="dropdown-menu dropdown-navbar">
                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-right">Software Update</span>
                                            <span class="pull-left">65%</span>
                                        </div>

                                        <div class="progress progress-mini">
                                            <div style="width:65%" class="progress-bar"></div>
</div>
</a>
</li>

<li>
    <a href="#">
        <div class="clearfix">
            <span class="pull-right">Hardware Upgrade</span>
            <span class="pull-left">35%</span>
        </div>

        <div class="progress progress-mini">
            <div style="width:35%" class="progress-bar progress-bar-danger"></div>
</div>
</a>
</li>

<li>
    <a href="#">
        <div class="clearfix">
            <span class="pull-right">Unit Testing</span>
            <span class="pull-left">15%</span>
        </div>

        <div class="progress progress-mini">
            <div style="width:15%" class="progress-bar progress-bar-warning"></div>
</div>
</a>
</li>

<li>
    <a href="#">
        <div class="clearfix">
            <span class="pull-right">Bug Fixes</span>
            <span class="pull-left">90%</span>
        </div>

        <div class="progress progress-mini progress-striped active">
            <div style="width:90%" class="progress-bar progress-bar-success"></div>
</div>
</a>
</li>
</ul>
</li>

<li class="dropdown-footer">
    <a href="#">
										See tasks with details
										<i class="ace-icon fa fa-arrow-left"></i>
									</a>
</li>
</ul>
</li>

<li class="purple dropdown-modal">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="ace-icon fa fa-bell icon-animated-bell"></i>
        <span class="badge badge-important">8</span>
    </a>

    <ul class="dropdown-menu-left dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
        <li class="dropdown-header">
            <i class="ace-icon fa fa-exclamation-triangle"></i> 8 Notifications
        </li>

        <li class="dropdown-content">
            <ul class="dropdown-menu dropdown-navbar navbar-pink">
                <li>
                    <a href="#">
                        <div class="clearfix">
                            <span class="pull-right">
														<i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
														New Comments
													</span>
                            <span class="pull-left badge badge-info">+12</span>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="btn btn-xs btn-primary fa fa-user"></i> Bob just signed up as an editor ...
                    </a>
                </li>

                <li>
                    <a href="#">
                        <div class="clearfix">
                            <span class="pull-right">
														<i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
														New Orders
													</span>
                            <span class="pull-left badge badge-success">+8</span>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <div class="clearfix">
                            <span class="pull-right">
														<i class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
														Followers
													</span>
                            <span class="pull-left badge badge-info">+11</span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="dropdown-footer">
            <a href="#">
										See all notifications
										<i class="ace-icon fa fa-arrow-left"></i>
									</a>
        </li>
    </ul>
</li>

<li class="green dropdown-modal">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
        <span class="badge badge-success">5</span>
    </a>

    <ul class="dropdown-menu-left dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
        <li class="dropdown-header">
            <i class="ace-icon fa fa-envelope-o"></i> 5 Messages
        </li>

        <li class="dropdown-content">
            <ul class="dropdown-menu dropdown-navbar">
                <li>
                    <a href="#" class="clearfix">
                        <img src="./../../public/images/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />
                        <span class="msg-body">
													<span class="msg-title">
														<span class="blue">Alex:</span> Ciao sociis natoque penatibus et auctor ...
                        </span>

                        <span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>a moment ago</span>
                        </span>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#" class="clearfix">
                        <img src="./../../public/images/avatars/avatar3.png" class="msg-photo" alt="Susan's Avatar" />
                        <span class="msg-body">
													<span class="msg-title">
														<span class="blue">Susan:</span> Vestibulum id ligula porta felis euismod ...
                        </span>

                        <span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>20 minutes ago</span>
                        </span>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#" class="clearfix">
                        <img src="./../../public/images/avatars/avatar4.png" class="msg-photo" alt="Bob's Avatar" />
                        <span class="msg-body">
													<span class="msg-title">
														<span class="blue">Bob:</span> Nullam quis risus eget urna mollis ornare ...
                        </span>

                        <span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>3:15 pm</span>
                        </span>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#" class="clearfix">
                        <img src="./../../public/images/avatars/avatar2.png" class="msg-photo" alt="Kate's Avatar" />
                        <span class="msg-body">
													<span class="msg-title">
														<span class="blue">Kate:</span> Ciao sociis natoque eget urna mollis ornare ...
                        </span>

                        <span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>1:33 pm</span>
                        </span>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#" class="clearfix">
                        <img src="./../../public/images/avatars/avatar5.png" class="msg-photo" alt="Fred's Avatar" />
                        <span class="msg-body">
													<span class="msg-title">
														<span class="blue">Fred:</span> Vestibulum id penatibus et auctor ...
                        </span>

                        <span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>10:09 am</span>
                        </span>
                        </span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="dropdown-footer">
            <a href="inbox.html">
										See all messages
										<i class="ace-icon fa fa-arrow-left"></i>
									</a>
        </li>
    </ul>
</li>

<li class="light-blue dropdown-modal">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
        <img class="nav-user-photo" src="./../../public/images/avatars/user.jpg" alt="Jason's Photo" />
        <span class="user-info">
									<small>خوش‌آمدید,</small>
									کیاگسارگ
								</span>

        <i class="ace-icon fa fa-caret-down"></i>
    </a>

    <ul class="user-menu dropdown-menu-left dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
        <li>
            <a href="#">
                <i class="ace-icon fa fa-cog"></i> تنظیمات
            </a>
        </li>

        <li>
            <a href="profile.html">
                <i class="ace-icon fa fa-user"></i> پروفایل
            </a>
        </li>

        <li class="divider"></li>

        <li>
            <a href="#">
                <i class="ace-icon fa fa-power-off"></i> خروج
            </a>
        </li>
    </ul>
</li>
</ul>
</div>
</div>
<!-- /.navbar-container -->
</div>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) { }
    </script>

<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
    <script type="text/javascript">
        try {
            ace.settings.loadState('sidebar')
        } catch (e) { }
    </script>

<div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <button class="btn btn-success">
							<i class="ace-icon fa fa-signal"></i>
						</button>

        <button class="btn btn-info">
							<i class="ace-icon fa fa-pencil"></i>
						</button>

        <button class="btn btn-warning">
							<i class="ace-icon fa fa-users"></i>
						</button>

        <button class="btn btn-danger">
							<i class="ace-icon fa fa-cogs"></i>
						</button>
    </div>

    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
        <span class="btn btn-success"></span>

        <span class="btn btn-info"></span>

        <span class="btn btn-warning"></span>

        <span class="btn btn-danger"></span>
    </div>
</div>
<!-- /.sidebar-shortcuts -->

<ul class="nav nav-list">
    <li class="active">
        <a routerLink="/dashboard" routerLinkActive="active">

            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text">  پیشخوان </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text">
								 پروفایل  
							</span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-caret-left"></i> Layouts
                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="top-menu.html">
                            <i class="menu-icon fa fa-caret-left"></i> Top Menu
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="two-menu-1.html">
                            <i class="menu-icon fa fa-caret-left"></i> Two Menus 1
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="two-menu-2.html">
                            <i class="menu-icon fa fa-caret-left"></i> Two Menus 2
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="mobile-menu-1.html">
                            <i class="menu-icon fa fa-caret-left"></i> Default Mobile Menu
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="mobile-menu-2.html">
                            <i class="menu-icon fa fa-caret-left"></i> Mobile Menu 2
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="mobile-menu-3.html">
                            <i class="menu-icon fa fa-caret-left"></i> Mobile Menu 3
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="typography.html">
                    <i class="menu-icon fa fa-caret-left"></i> Typography
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="elements.html">
                    <i class="menu-icon fa fa-caret-left"></i> Elements
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="buttons.html">
                    <i class="menu-icon fa fa-caret-left"></i> Buttons &amp; Icons
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="content-slider.html">
                    <i class="menu-icon fa fa-caret-left"></i> Content Sliders
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="treeview.html">
                    <i class="menu-icon fa fa-caret-left"></i> Treeview
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="jquery-ui.html">
                    <i class="menu-icon fa fa-caret-left"></i> jQuery UI
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="nestable-list.html">
                    <i class="menu-icon fa fa-caret-left"></i> Nestable Lists
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-caret-left"></i> Three Level Menu
                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="#">
                            <i class="menu-icon fa fa-leaf green"></i> Item #1
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-pencil orange"></i> 4th level
                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">
                            <li class="">
                                <a href="#">
                                    <i class="menu-icon fa fa-plus purple"></i> Add Product
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="#">
                                    <i class="menu-icon fa fa-eye pink"></i> View Products
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-instagram red"></i>
            <span class="menu-text"> 
                            اینستاگرام
                            <!--<span class="badge badge-transparent tooltip-error" title="" data-original-title="فالوور اینستاگرام">
									<i class="ace-icon fa fa fa-star red bigger-130"></i>
								</span>-->
            </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="tables.html">
                    <i class="menu-icon fa fa-caret-left"></i> Simple &amp; Dynamic
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="jqgrid.html">
                    <i class="menu-icon fa fa-caret-left"></i> jqGrid plugin
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-telegram blue"></i>
            <span class="menu-text"> 
                            تلگرام
                            <!--<span class="badge badge-transparent tooltip-error" title="" data-original-title="ربات">
									<i class="ace-icon fa fa fa-star red bigger-130"></i>
								</span>-->
            </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>


        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-caret-left"></i> ربات
                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a routerLink="/addtelegrambots" routerLinkActive="active">

                            <i class="menu-icon fa fa-caret-left"></i> ایجاد ربات
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">

                        <a routerLink="/telegrambots" routerLinkActive="active">
                            <i class="menu-icon fa fa-caret-left"></i> رباتها
                        </a>
                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="two-menu-1.html">
                            <i class="menu-icon fa fa-caret-left"></i>عملیات‌های پیش فرض
                        </a>

                        <b class="arrow"></b>
                    </li>


                </ul>
            </li>

            <li class="">
                <a href="typography.html">
                    <i class="menu-icon fa fa-caret-left"></i> افزایش ممبر
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="elements.html">
                    <i class="menu-icon fa fa-caret-left"></i> ارسال تلگرام
                </a>

                <b class="arrow"></b>
            </li>




        </ul>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-comments yellow-700"></i>
            <span class="menu-text">پیامک</span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="form-elements.html">
                    <i class="menu-icon fa fa-caret-left"></i> Form Elements
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="form-elements-2.html">
                    <i class="menu-icon fa fa-caret-left"></i> Form Elements 2
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="form-wizard.html">
                    <i class="menu-icon fa fa-caret-left"></i> Wizard &amp; Validation
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="wysiwyg.html">
                    <i class="menu-icon fa fa-caret-left"></i> Wysiwyg &amp; Markdown
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="dropzone.html">
                    <i class="menu-icon fa fa-caret-left"></i> Dropzone File Upload
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-money green"></i>
            <span class="menu-text">پرداخت</span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="form-elements.html">
                    <i class="menu-icon fa fa-caret-left"></i> Form Elements
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="form-elements-2.html">
                    <i class="menu-icon fa fa-caret-left"></i> Form Elements 2
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="form-wizard.html">
                    <i class="menu-icon fa fa-caret-left"></i> Wizard &amp; Validation
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="wysiwyg.html">
                    <i class="menu-icon fa fa-caret-left"></i> Wysiwyg &amp; Markdown
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="dropzone.html">
                    <i class="menu-icon fa fa-caret-left"></i> Dropzone File Upload
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="widgets.html">
            <i class="menu-icon fa fa-wrench"></i>
            <span class="menu-text"> پشتیبانی </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="calendar.html">
            <i class="menu-icon fa fa-bell-o red"></i>

            <span class="menu-text">
								اعلان‌ها
<span class="badge badge-primary">5</span>
            <!--<span class="badge badge-transparent tooltip-error" title="2 Important Events">
									<i class="ace-icon fa fa-exclamation-triangle red bigger-130"></i>
								</span>-->
            </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="gallery.html">
            <i class="menu-icon fa fa-exchange"></i>
            <span class="menu-text">  خدمات وب سرویس  </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-question-circle "></i>
            <span class="menu-text"> راهنما </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="profile.html">
                    <i class="menu-icon fa fa-caret-left"></i> User Profile
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="inbox.html">
                    <i class="menu-icon fa fa-caret-left"></i> Inbox
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="pricing.html">
                    <i class="menu-icon fa fa-caret-left"></i> Pricing Tables
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="invoice.html">
                    <i class="menu-icon fa fa-caret-left"></i> Invoice
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="timeline.html">
                    <i class="menu-icon fa fa-caret-left"></i> Timeline
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="search.html">
                    <i class="menu-icon fa fa-caret-left"></i> Search Results
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="email.html">
                    <i class="menu-icon fa fa-caret-left"></i> Email Templates
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="login.html">
                    <i class="menu-icon fa fa-caret-left"></i> Login &amp; Register
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>


</ul>
<!-- /.nav-list -->

<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-right ace-save-state" data-icon1="ace-icon fa fa-angle-double-right"
        data-icon2="ace-icon fa fa-angle-double-left"></i>
</div>
</div>

<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">Home</a>
                </li>
                <li class="active">Dashboard</li>
            </ul>
            <!-- /.breadcrumb -->



        </div>
        <ng2-slim-loading-bar>
        </ng2-slim-loading-bar>
        <div class="page-content">

            <router-outlet></router-outlet>


        </div>
    </div>
    <!-- /.page-content -->
</div>
<!-- /.main-content -->

<div class="footer">
    <div class="footer-inner">
        <div class="footer-content">
            <span class="bigger-120">
							<span class="blue bolder">تبلیغگرام</span> &copy; 2013-2014
            </span>

            &nbsp; &nbsp;
            <span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
							</a>
						</span>
        </div>
    </div>
</div>

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
<!-- /.main-container -->

</div>